@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@font-face {
    font-family: gilroy-light;
    src: url(assets/fonts/Gilroy-Light.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy-light, sans-serif;
    -webkit-user-drag: none;
}

*::selection{
    background-color: transparent;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: white;
}


/* nav section */

header,
nav {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 9;
    box-shadow: 0 1px 11px -8px grey;
}

nav * {
    font-size: 1.1vmax;
}

header nav>div {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav {
    position: fixed;
    background-color: white;
}

.right-nav,
.logo {
    width: 25%;
    justify-content: center;
}

.logo {
    width: 10%;
}

.logo a {
    display: grid;
    padding: 0 4px;
    place-content: center;
    font-family: 'Righteous', sans-serif;
    text-decoration: none;
    color: #fff;
    background-color: #74bac0;
    overflow: hidden;
    text-transform: uppercase;
    font-size: clamp(1.3vw,1.4vw, 1.5vw);
}


.center-nav {
    width: 30%;
}

.center-nav>li {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    text-transform: capitalize;
    height: 100%;
}

.center-nav>li>ul:last-child {
    position: relative;
    text-transform: capitalize;
}


.center-nav>li>ul>a {
    text-decoration: none;
    color: black;
    font-weight: 800;
    transition: .1s;
    height: 100%;
}


.center-nav>li>ul>a:hover {
    color: #639fa5;
}


.center-nav>li>ul {
    position: relative;
    height: 100%;
    line-height: 10vh;
}

.center-nav>li>ul .drop-down {
    position: absolute;
    top: 100%;
    width: 15vw;
    line-height: 2.5;
    padding: 2vh;
    background-color: white;
    border-radius: 0 0 10px 10px;
    left: 50%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 8px 6px -9px rgba(128, 128, 128, 0.428) inset;
    align-items: center;
    justify-content: center;
    transform: translateX(-50%);
    list-style: none;
    visibility: hidden;
    opacity: 0;
    transition: .2s linear;
}


.drop-down ul a {
    text-decoration: none;
    font-size: 1.2vw;
    color: grey;
    font-weight: 900;
    transition: .1s linear;
}

.drop-down ul a:hover {
    color: #74bac0;
}

.center-nav>li>.show>.drop-down {
    visibility: visible;
    top: 100%;
    opacity: 1;
}

.right-nav input,
.right-nav button {
    outline: none;
    border: none;
    padding: 0 2vh;
    height: 50%;
    border-radius: 7px 0 0 7px;
    font-weight: 900;
    font-family: "Poppins";
    width: 60%;
    box-shadow: 0px 0px 8px -1px rgba(145, 145, 145, 0.398);
    font-weight: 500;
}

.right-nav button {
    border-radius: 0 7px 7px 0;
    cursor: pointer;
    width: 6vh;
    padding: 0;
    background-color: rgb(212, 211, 211);
    display: flex;
        justify-content: center;
        align-items: center;
}

.right-nav button img {
    height: 3vh;
    width: 3vh;
}

.cart {
    width: 8%;
    justify-content: space-between;
}

.cart a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
    font-weight: 600;
    color: #000;
}

.cart a img {
    height: 1.7vw;
    color: rgb(152, 152, 152);
}

.cart #profile {
    position: relative;
    height: 100%;
}

.cart #profile>a {
    height: 100%;
}

.cart #profile li {
    position: absolute;
    top: 10vh;
    width: 12vw;
    list-style-type: none;
    padding: 1vh 0;
    backdrop-filter: blur(12px);
    line-height: 10vh;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    background-color: rgba(126, 126, 126, 0.75);
    opacity: 0;
    visibility: hidden;
}

.cart #profile li:hover {
    opacity: 1;
    visibility: visible;
}

.cart #profile .active {
    opacity: 1;
    visibility: visible;
}

.cart #profile li ul {
    line-height: 2;
    display: flex;
    padding: 0 2vh;
    justify-content: left;
    margin-bottom: 5px;
    width: 100%;
    text-transform: capitalize;
}

.cart #profile li ul:first-child a {
    padding: 0 2vh;
    background-color: #74bac0;
    color: white;
    border: 2px solid #74bac0;
    border-radius: 5px;
    width: 100%;
    transition: .1s linear;
}

.cart #profile li ul:hover {
    background-color: #74bac0;
}

.cart #profile li ul:hover>a {
    color: white;
}

.cart #profile li ul:first-child {
    background-color: transparent;
}

.cart #profile li ul:first-child a:hover {
    background-color: rgb(254, 254, 254);
    border: 2px solid #74bac0;
    color: #74bac0;
}

.cart #profile li ul a {
    color: #fff;
    width: max-content;
    transition: .05s linear;
    display: flex;
    justify-content: left;
    text-align: left;
    font-size: 1.1vw;
}


/* nav section */

/* image section */
main {
    width: 100%;
    transition: .5s linear;
}

.main {
    height: 90dvh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right,
.left {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
}

/* image section */
.right > .border{
    height: 36vw;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    position: relative;
}

.right .border::before{
    position: absolute;
    content: "";
    height: 95%;
    width: 93%;
    background-color: rgba(65, 105, 225, 0.428);
    /* z-index: -2; */
    top: 0;
    left: 0;
}
.right .border::after{
    position: absolute;
    content: "";
    height: 95%;
    width: 93%;
    z-index: 1;
    background-color: royalblue;
    bottom: 0;
    right: 0;
}

.right .form{
    height: 96%;
    width: 95%;
    display: flex;
    position: relative;
    flex-direction: column;
    z-index: 2;
    overflow: hidden;
}

/* Login form */

.form>.login{
    top: -0%;
}

.form>.login, .form>.signup {
    height: 100%;
    width: 100%;
    display: flex;
    position: absolute;
    flex-direction: column;
    transition: .35s linear;
}

.form .animate-2{
    top: -100%;
}

.login>form {
    height: 100%;
    width: 100%;
    padding: 4vh 2vh;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: whitesmoke;
    border-radius: 0px;
        box-shadow: 12px 12px 0px royalblue,
            -12px -12px 0px rgba(65, 105, 225, 0.608);
}

.login > form > *{
    margin-bottom: 3.5vh;
}

.form .logo {
    font-family: 'Satisfy', cursive;
    font-size: 2vw;
    text-align: justify;
    align-items: center;
    color: royalblue;
    font-weight: 100;
    flex-direction: column;
    display: flex;
    width: 100%;
    margin-bottom: 5vh;
}

.form .logo span {
    letter-spacing: 5px;
    font-weight: 500;
    font-family: 'Righteous', sans-serif;
    background-color: royalblue;
    color: white;
    padding: 0 .6vh;
}

.login>form>input {
    width: 70%;
    height: max-content;
    font-size: 1.1vw;
    font-family: "Poppins";
    padding: .2vh 1vh;
    outline: none;
    background-color: transparent;
    font-size: 1.1vw;
    font-weight: 600;
    color: rgb(1, 1, 108);
    border: none;
    border-bottom: 2px solid rgba(65, 105, 225, 0.608);
}

.login>form>#forget {
    display: flex;
    width: 70%;
    height: 2vh;
    justify-content: right;
}

.login>form>#forget a {
    text-decoration: none;
    font-family: "Poppins";
    color: rgb(91, 132, 255);
    font-size: 1vw;
    font-weight: 500;
}

form button {
    width: 20%;
    padding: 1vh 0;
    outline: none;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: "Poppins";
    font-weight: 900;
    overflow: hidden;
    background-color: royalblue;
    position: relative;
    transition: .1s linear;
}

form button:hover {
    background-color: rgb(42, 89, 230);
}

#new{
    width: 70%;
    display: flex;
    justify-content: center;
}
#new span{
    text-transform: capitalize;
    font-family: "Poppins";
    font-size: 1.1vw;
    font-weight: 500;
}
#new span a{
    text-decoration: none;
    font-size: 1.1vw;
    font-weight: 600;
    color: rgb(91, 132, 255);
}

.login > form>input::placeholder {
    color: rgba(65, 105, 225, 0.509);
    font-weight: 600;
    letter-spacing: 1px;
}

.login .warn{
    color: red;
    display: none;
    opacity: 0;
    bottom: 0;
    position: absolute;
    background-color: rgba(255, 0, 0, 0.159);
    padding: 5px;
    border-radius: 8px;
    font-weight: 600;
    transition: .2s linear;
}
/* login form */

/* signup form */

.signup{
    top: 100%;
    position: absolute;
    background-color: whitesmoke;
}

.animate{
    top:0;
}

.signup>form{
    height: 100%;
    padding: 0 2vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.signup>form>*{
    width: 70%;
    margin-bottom: 3vh;
}


.signup>form>div:nth-child(2){
    display: flex;
    justify-content: space-between;
}
.signup>form>div:nth-child(2) input{
    width: 47%;
}

.signup input::placeholder{
    color: rgba(65, 105, 225, 0.651);
    text-transform: capitalize;
}

.signup form input{
    height: 4vh;
    border: none;
    padding: 1vh;
    border-bottom: 2px solid rgba(65, 105, 225, 0.669);
    background-color: transparent;
    font-size: 1.1vw;
    font-weight: 600;
    outline: none;
}

.signup form select{
    outline: none;
    color: white;
    background-color: rgba(65, 105, 225, 0.869);
    padding: 1vh;
    border-radius: 5px;
    width: max-content;
    text-transform: capitalize;
    font-size: 1.1vw;
    font-weight: 600;
    border: none;
}
.signup form select option{
    color: royalblue;
    background-color: whitesmoke;
    height: 3vh;
    font-weight: 600;
    font-size: 1.1vw;
}

.signup>form>div:nth-child(6){
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.signup form label {
    font-size: 1.2vw;
    font-weight: 600;
    color: rgba(65, 105, 225, 0.869);
}


.signup button {
    --primary-color: royalblue;
    --secondary-color: #fff;
    --hover-color: rgb(13, 67, 227);
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    width: 35%;
    border: 0;    
    height: 2.7rem;
    border-radius: 20px;
    color: var(--secondary-color);
    /* padding: 1em 1.8em; */
    background: var(--primary-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    justify-content: center;
    gap: 0.6em;
    font-weight: bold;
    font-size: 1.1vw;
    white-space: nowrap;
}

.signup button .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup button .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
}

.signup button .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
}

.signup button:hover {
    background-color: var(--hover-color);
}

.signup button:hover .arrow {
    background: var(--secondary-color);
}

.signup button:hover .arrow:before {
    right: 0;
}

.signup >form>div:last-of-type{
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup form>div:last-of-type>span{
    text-transform: capitalize;
    font-weight: 600;
}
.signup form>div:last-of-type a{
    text-decoration: none;
    text-transform: capitalize;
    color: rgb(0, 132, 255);
    font-weight: 600;
}

/* signup form */


/* only mobile screen elements */

.right-nav{
    display: none;
}

.text-for-image{
    display: none;
}

.side-bar{
    display: none;
}

.filter-btn{
    display: none;
}

/* only mobile screen elements */


/* 320px < width < 425px */

@media screen and (299px < width < 426px) {
    
    .login .warn{
        visibility: hidden;
    }
    
    *{
        user-select: none;
    }
    
    .hide{
        display: none;
    }
    
    
    html,
    body{
        height: 100dvh;
    }

    /* header & navbar section */

    header,
    nav {
        max-height: 60px;
        width: 100%;
        display: grid;
        box-shadow: none;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }

    nav {
        padding: 5px;
        gap: 2rem;
    }

    .search-nav {
        grid-column: span 2;
        width: auto;
    }

    .search-nav input {
        height: 100%;
        width: 90%;
        padding: 0 10px;
        margin: 0;
    }

    nav>div {
        width: 50%;
    }

    .center-nav,
    .cart {
        display: none;
    }

    .logo {
        height: 100%;
        width: 60%;
    }

    .logo a {
        font-size: clamp(12px, 15px, 20px);
        background-color: transparent;
        color: #74bac0;
    }

    .right-nav {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }

    .btn {
        height: 100%;
        width: 20%;
        position: relative;
    }

    .btn img {
        height: 50%;
        object-fit: contain;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .side-bar {
        height: 110dvh;
        width: 67%;
        position: fixed;
        z-index: 10;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        box-shadow: -2px 14px 12px 8px rgba(128, 128, 128, 0.224);
        transform: translateX(100%);
        transition: .15s linear all;
    }

    .closebtn {
        height: 60px;
        width: 30%;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .closebtn img {
        height: 50%;
    }

    .menu {
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        padding: 3vh;
        gap: 2rem;
        overflow: scroll;
    }

    .menu a {
        text-decoration: none;
        color: #555;
        font-size: clamp(2vw, 4.0vw, 5vw);
        letter-spacing: -0.5px;
        text-transform: capitalize;
        font-weight: 100;
        font-family: "Poppins", montserrat;
    }

    .menu h3 {
        text-transform: uppercase;
        font-family: "Poppins", montserrat;
        font-weight: 800;
        color: black;
        font-size: clamp(3vw, 4.6vw, 5vw);
    }

    #logo {
        width: 100%;
        display: flex;
        margin: 1vh 0;
        justify-content: center;
    }

    #logo a {
        font-family: 'righteous', gilroy;
        font-size: clamp(6vw, 7vw, 8.5vw);
        background-color: #74bac0;
        color: white;
        padding: 0 5px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }


    /* header & navbar section */

    /* main styling */

    .main .left{
        display: none;        
    }

    .right{
        width: 100%;
        height: 100%;
    }

    .right .border{
        min-height: 75%;
        width: 80%;
    }

    .login>form{
        padding: 0;
    }

    .form .logo{
        font-size: clamp(6.5vw, 7vw, 8vw);
        margin: 0;
    }

    .login>form>input{
        font-size: clamp(3.5vw, 4vw, 5vw);
    }
    
    .login>form>input::placeholder{
        font-weight: 100;
    }

    .login>form>#forget a{
        font-size: clamp(3.5vw, 3.8vw, 5vw);
    }
    
    form button,
    .signup button{
        width: auto;
        height: auto;
        padding: 10px 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: clamp(3.5vw, 4vw, 5vw);
    }
    
    #new span,
    #new span a,
    .signup form>div:last-of-type>span{
        font-size: clamp(2.5vw, 3.4vw, 5vw);
        width: max-content;
        display: flex;
        gap: 5px;
        white-space: nowrap;
        align-items: center;
    }
    
    .signup>form{
        padding: 0;
        justify-content: space-evenly;
    }

    .signup form input{
        font-size: clamp(2.5vw, 3.4vw, 5vw);
        padding: 3px;
    }

}
/* 320px < width < 425px */

/* 426px < width < 600px */

@media screen and (425px < width < 601px) {
    
    .login .warn{
        visibility: hidden;
    }
    
    *{
        user-select: none;
    }
    
    .hide{
        display: none;
    }
    
    
    html,
    body{
        height: 100dvh;
    }

    /* header & navbar section */

    header,
    nav{
        height: 60px;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0;
        justify-content: space-between;
        box-shadow: none;
    }

    .center-nav,
    .cart{
        display: none;
    }

    .logo{
        height: 50%;
        width: 40%;
    }

    .logo a{
        font-size: clamp(1rem, 1.4rem, 2.5rem);
        background-color: transparent;
        color: #74bac0;
    }

    .right-nav{
        width: 20%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn{
        height: 100%;
        width: 100%;
        position: relative;
    }
    
    .btn img{
        height: 50%;
        object-fit: contain;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }

    .side-bar{
        height: 110dvh;
        width: 55%;
        position: fixed;
        z-index: 10;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        box-shadow: -2px 14px 12px 8px rgba(128, 128, 128, 0.224);
        transform: translateX(100%);
        transition: .15s linear all;
    }

    .closebtn{
        height: 60px;
        width: 30%;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .closebtn img{
        height: 50%;
    }

    .menu{
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        padding: 3vh;
        overflow: scroll;
        gap: 2rem;
    }

    .menu a {
        text-decoration: none;
        color: #555;
        font-size: clamp(2vw, 3.0vw, 4vw);
        letter-spacing: -0.5px;
        text-transform: capitalize;
        font-weight: 100;
        font-family: "Poppins", montserrat;
    }

    .menu h3 {
        text-transform: uppercase;
        font-family: "Poppins", montserrat;
        font-weight: 800;
        color: black;
        font-size: clamp(2vw, 3.5vw, 5vw);
    }

    #logo {
        width: 100%;
        display: flex;
        margin: 1vh 0;
        justify-content: center;
    }

    #logo a {
        font-family: 'righteous', gilroy;
        font-size: clamp(4vw, 5vw, 6.5vw);
        background-color: #74bac0;
        color: white;
        padding: 0 5px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }



    /* header & navbar section */

    /* main styling */

    .main .left{
        display: none;        
    }

    .right{
        width: 100%;
        height: 100%;
    }

    .right .border{
        min-height: 75%;
        max-width: 350px;
        width: 80%;
    }

    .login>form{
        padding: 0;
    }

    .form .logo{
        font-size: clamp(20px, 28px, 35px);
        margin: 0;
    }

    .login>form>input,
    .signup form input{
        font-size: min(4vw, 15px);
    }
    
    .login>form>input::placeholder{
        font-weight: 100;
    }

    .login>form>#forget a{
        font-size: min(3.8vw, 16px);
    }
    
    form button,
    .signup button{
        width: auto;
        height: auto;
        padding: 10px 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: min(3.5vw,15px);
    }
    
    #new span,
    #new span a,
    .signup form>div:last-of-type>span{
        font-size: min(3vw, 16px);
        width: max-content;
        display: flex;
        gap: 5px;
        white-space: nowrap;
        align-items: center;
    }
    
    .signup>form{
        padding: 0;
        justify-content: space-evenly;
    }

    .signup form input{
        padding: 3px;
    }

}


/* 426px < width < 600px */


/* 600px < width < 750px */

@media screen and (600px < width < 751px) {
    
    .login .warn{
        visibility: hidden;
    }
    
    *{
        user-select: none;
    }
    
    .hide{
        display: none;
    }
    
    
    html,
    body{
        height: 100dvh;
    }

    /* header & navbar section */

    header,
    nav{
        height: 60px;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0;
        justify-content: space-between;
        box-shadow: none;
    }

    .center-nav,
    .cart{
        display: none;
    }

    .logo{
        height: 50%;
        width: 40%;
    }

    .logo a{
        font-size: clamp(1rem, 1.4rem, 2.5rem);
        background-color: transparent;
        color: #74bac0;
    }

    .right-nav{
        width: 20%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn{
        height: 100%;
        width: 100%;
        position: relative;
    }
    
    .btn img{
        height: 50%;
        object-fit: contain;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }

    .side-bar{
        height: 110dvh;
        width: 45%;
        position: fixed;
        z-index: 10;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        box-shadow: -2px 14px 12px 8px rgba(128, 128, 128, 0.224);
        transform: translateX(100%);
        transition: .15s linear all;
    }

    .closebtn{
        height: 60px;
        width: 30%;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .closebtn img{
        height: 50%;
    }

    .menu{
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        padding: 3vh;
        overflow: scroll;
        gap: 2rem;
    }

    .menu a {
        text-decoration: none;
        color: #555;
        font-size: clamp(14px, 1.1rem, 20px);
        letter-spacing: -0.5px;
        text-transform: capitalize;
        font-weight: 100;
        font-family: "Poppins", montserrat;
    }

    .menu h3 {
        text-transform: uppercase;
        font-family: "Poppins", montserrat;
        font-weight: 800;
        color: black;
        font-size: clamp(15px, 1.2rem, 25px);
    }

    #logo {
        width: 100%;
        display: flex;
        margin: 1vh 0;
        justify-content: center;
    }

    #logo a {
        font-family: 'righteous', gilroy;
        font-size: clamp(18px, 1.5rem, 25px);
        background-color: #74bac0;
        color: white;
        padding: 0 5px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }



    /* header & navbar section */

    /* main styling */

    .main .left{
        display: none;        
    }

    .right{
        width: 100%;
        height: 100%;
    }

    .right .border{
        min-height: 75%;
        max-width: 350px;
        width: 80%;
    }

    .login>form{
        padding: 0;
    }

    .form .logo{
        font-size: clamp(20px, 28px, 35px);
        margin: 0;
    }

    .login>form>input,
    .signup form input{
        font-size: min(4vw, 15px);
    }
    
    .login>form>input::placeholder{
        font-weight: 100;
    }

    .login>form>#forget a{
        font-size: min(3.8vw, 16px);
    }
    
    form button,
    .signup button{
        width: auto;
        height: auto;
        padding: 10px 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: min(3.5vw,15px);
    }
    
    #new span,
    #new span a,
    .signup form>div:last-of-type>span{
        font-size: min(3vw, 16px);
        width: max-content;
        display: flex;
        gap: 5px;
        white-space: nowrap;
        align-items: center;
    }
    
    .signup>form{
        padding: 0;
        justify-content: space-evenly;
    }

    .signup form input{
        padding: 3px;
    }

}

/* 600px < width < 751px */

/* 750 < width < 1023px */

@media screen and (750px < width < 1023px) {

    :root {
        --mid-font: clamp(1.5vw, 1.8vw, 2.5vw);
        --small-font: clamp(1.3vw, 1.7vw, 2vw);
        --xs-font: clamp(1.3vw, 1.5vw, 2.5vw);
    }


    header,
    nav {
        justify-content: space-between;
    }

    nav {
        padding: 0 20px;
    }

    .logo {
        width: max-content;
        padding: 0;
    }

    .logo a {
        font-size: clamp(2vw, 2.4vw, 3.5vw);
    }

    .center-nav li {
        gap: 2rem;
    }

    .center-nav>li>ul>a {
        font-size: var(--mid-font);
    }

    .search-nav {
        width: max-content;
    }

    .search-nav input::placeholder {
        padding: 0;
        font-size: var(--small-font);
    }

    .cart {
        padding: 0;
        gap: 0;
    }

    .cart a img {
        height: 2.9vw;
    }

    .right .border{
        width: 70%;
        min-height: 25rem;
        height: 43vw;
    }

    .form .logo{
        font-size: 2.5vw;
    }

    .login>form{
        padding: 0;
        gap: 0.1rem;
    }


    .login>form>input,
    .signup form input{
        font-size: clamp(13px, 1.7vw, 18px);
    }
    
    .login>form>input::placeholder{
        font-weight: 100;
    }

    .login>form>#forget a{
        font-size: clamp(13px, 1.8vw, 18px);
    }
    
    form button,
    .signup button{
        width: auto;
        height: auto;
        padding: 7px 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: min(3.5vw,15px);
    }
    
    #new span,
    #new span a,
    .signup form>div:last-of-type>span{
        font-size: clamp(13px, 1.8vw, 18px);
        width: max-content;
        display: flex;
        gap: 5px;
        white-space: nowrap;
        align-items: center;
    }
    
    .signup>form{
        padding: 0;
        justify-content: space-evenly;
    }

    .signup form input{
        padding: 3px;
    }

    .signup form > *{
        margin-bottom: 0;
    }

}

/* 750 < width < 1023px */