@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@font-face {
    font-family: gilroy-light;
    src: url(assets/fonts/Gilroy-Light.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: 10px;
}

::root {
    --l-font: clamp(13rem, 15rem, 17rem);
    --m-font: clamp(1.2rem, 1.4rem, 1.6rem);
}

*::selection {
    color: whitesmoke;
    background-color: #639fa5;
}

*:focus {
    outline: none;
}

img::selection {
    background-color: transparent;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: white;
}

body {
    position: relative;
    transition: filter .2s linear, background .2s linear
}

img {
    -webkit-user-drag: none;
}

/* nav starts */

header,
nav {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 9;
    box-shadow: 0 1px 11px -8px grey;
}

nav * {
    font-size: clamp(1.5rem, 1.1vmax, 1.2vmax);
}

header nav>div {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    position: fixed;
    background-color: white;
}

.search-nav,
.logo {
    width: 25%;
    justify-content: center;
}

.logo {
    width: 10%;
}

.logo a {
    display: grid;
    padding: 0 4px;
    place-content: center;
    font-family: 'Righteous', sans-serif;
    text-decoration: none;
    color: #fff;
    background-color: #74bac0;
    overflow: hidden;
    text-transform: uppercase;
    font-size: clamp(1.3vw, 1.4vw, 1.5vw);
}


.center-nav {
    width: 30%;
}

.center-nav>li {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    text-transform: capitalize;
    height: 100%;
}

.center-nav>li>ul:last-child {
    position: relative;
    text-transform: capitalize;
}


.center-nav>li>ul>a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    transition: .1s;
    height: 100%;
}


.center-nav>li>ul>a:hover {
    color: #639fa5;
}



.center-nav>li>ul {
    position: relative;
    height: 100%;
    line-height: 10vh;
}

.center-nav>li>ul .drop-down {
    position: absolute;
    top: 100%;
    width: 15vw;
    line-height: 2.5;
    padding: 2vh;
    background-color: whitesmoke;
    border-radius: 0 0 10px 10px;
    left: 50%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 8px 6px -9px rgba(128, 128, 128, 0.428) inset;
    align-items: center;
    justify-content: center;
    transform: translateX(-50%);
    list-style: none;
    visibility: hidden;
    opacity: 0;
    transition: .2s;
}


.hover .drop-down>ul>a {
    text-decoration: none;
    font-size: 1.2vw;
    color: grey;
    font-weight: 900;
    transition: .1s linear;
}

.drop-down>ul>a:hover {
    color: #74bac0;
}

.center-nav>li>.show>.drop-down {
    visibility: visible;
    position: absolute;
    top: 100%;
    opacity: 1;
}

.search-nav input {
    outline: none;
    border: none;
    padding: 0 2vh;
    height: 50%;
    border-radius: 7px;
    font-weight: 900;
    font-family: "Poppins";
    width: min(80%, 20vw);
    box-shadow: 2px 2px 10px #b5b5b576,
        -2px -2px 10px #ffffff;
    font-weight: 500;
}

.search-nav input::placeholder {
    font-size: clamp(1.3rem, 1.5rem, 1.5rem);
    text-transform: capitalize;
    letter-spacing: -.2px;
}

.search-nav button {
    border-radius: 0 7px 7px 0;
    cursor: pointer;
    width: 6vh;
    padding: 0;
    background-color: rgb(212, 211, 211);
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-nav button img {
    height: 3vh;
    width: 3vh;
}

.cart {
    width: 8%;
    justify-content: space-around;
}

.cart a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
}

.cart a img {
    height: min(2.7rem, 2vw);
    color: rgb(152, 152, 152);
}

.cart #profile {
    position: relative;
    height: 100%;
}

.cart #profile>a {
    height: 100%;
}

.cart #profile li {
    position: absolute;
    top: 10vh;
    width: 11vw;
    list-style-type: none;
    padding: 1vh 0;
    backdrop-filter: blur(12px);
    line-height: 10vh;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    background-color: whitesmoke;
    opacity: 0;
    visibility: hidden;
    box-shadow: 5px 5px 17px #95959576,
        -5px -5px 17px #ffffff;
}

.cart #profile li:hover {
    opacity: 1;
    visibility: visible;
}

.cart #profile .active {
    opacity: 1;
    visibility: visible;
}

.cart #profile li ul {
    line-height: 2;
    display: flex;
    padding: 0 2vh;
    justify-content: left;
    margin-bottom: 5px;
    width: 100%;
    text-transform: capitalize;
}

.cart #profile li ul:first-child a {
    padding: 0 2vh;
    background-color: #74bac0;
    color: white;
    border: 2px solid #74bac0;
    border-radius: 5px;
    width: 100%;
    transition: .1s linear;
}

.cart #profile li ul:hover {
    background-color: #74bac0;
}

.cart #profile li ul:hover>a {
    color: white;
}

.cart #profile li ul:first-child {
    background-color: transparent;
}

.cart #profile li ul:first-child a:hover {
    background-color: rgb(254, 254, 254);
    border: 2px solid #74bac0;
    color: #74bac0;
}

.cart #profile li ul a {
    color: #333;
    width: max-content;
    transition: .05s linear;
    display: flex;
    justify-content: left;
    text-align: left;
    font-size: 1.1vw;
}

/* nav ends */
/* main section */

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.progress {
    display: inline-block;
    width: 0%;
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    background-color: #74bac0;
    /* animation: progress 1s linear 1 forwards; */
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.main>* {
    margin-bottom: 3.5vw;
}

.shop {
    width: 100%;
    justify-content: center;
    height: max-content;
    display: flex;
}

.shop h1 {
    font-size: 3vw;
    color: rgb(142, 142, 142);
    text-transform: capitalize;
}


.filter {
    width: 85%;
    min-height: 5vh;
}

.filter-wrap {
    min-height: 5vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.filter-wrap>div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
}

.filter .by-price {
    padding: 0;
}

.filter h3,
.filter span {
    white-space: nowrap;
}

.filter .closed {
    opacity: 0;
    display: none;
}

.filter span {
    margin-right: 2rem;
    text-transform: capitalize;
    font-size: clamp(1vw, 1.2vw, 1.4vw);
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    color: #888;
    font-weight: 600;
    transition: .2s linear;
}


.filter h3 {
    font-size: clamp(1.2vw, 1.5vw, 1.6vw);
    height: 100%;
    color: #444;
    margin-right: 2rem;
    text-transform: capitalize;
    display: flex;
    align-items: center;
}

.container {
    height: auto;
    overflow-x: hidden;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
    padding: 2rem;
    align-items: center;
    /* background-color: blue; */
}

.shop-card {
    display: flex;
    height: 35rem;
    width: 22rem;
    align-items: center;
    justify-content: space-evenly;
    transition: .1s linear;
    background-color: rgb(244, 244, 244);
    border-radius: 15px;
    transition: all .2s linear;
}

.shop-card:hover {
    box-shadow: 5px 5px 17px #c8c8c8,
        -5px -5px 17px #ffffff;
    transform: translateY(-2%);
}

.container .hidden {
    display: none;
    opacity: 0;
    visibility: hidden;
}

.item {
    height: 94%;
    width: 90%;
    justify-content: space-evenly;
    align-items: start;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
}

.item .photo {
    height: 75%;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.item .photo a {
    height: 100%;
    width: 100%;
}

.wallets .item .photo {
    padding: 0 2vh;
}


.wallets .item .photo img,
.goggles .item #goggles img {
    object-fit: contain;
    object-position: center;
}

.item .photo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    mix-blend-mode: darken;
    border-radius: 10px;
}


.title-price,
.brand {
    width: 100%;
    padding: 0 1vh;
    height: 15%;
    justify-content: space-around;
    flex-direction: column;
    display: flex;
}


.brand {
    height: 8%;
}

.title-price span,
.brand span {
    align-items: center;
    text-transform: capitalize;
    height: auto;
    font-weight: 500;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
}

.title-price span {
    height: 40%;
    display: flex;
}

.title-price>span:last-of-type {
    font-size: 1vw;
}

.title-price span a,
.brand span a {
    font-size: clamp(1.3rem, 1.4rem, 1.7rem);
    text-decoration: none;
    font-weight: 400;
    color: #555;
    width: max-content;
    text-transform: capitalize;
    white-space: nowrap;
}

.brand span a {
    height: 100%;
    width: max-content;
    display: flex;
    justify-content: center;
    font-weight: 600;
    color: #222;
    font-size: clamp(1.4rem, 1.5rem, 1.9rem);
}

.no-product {
    width: 70%;
    height: 50dvh;
    display: none;
    justify-content: space-evenly;
    align-items: center;
}

.no-product img {
    width: 20%;
    object-fit: contain;
    display: block;
    height: 100%;
}

.no-product span {
    text-transform: capitalize;
    font-weight: 600;
    color: #74bac0;
    font-size: 7rem;
}

#price {
    font-size: clamp(1.3rem, 1.4rem, 1.7rem);
}

/* main section */
/* footer section */

footer {
    height: max-content;
    padding: 2vw 7vw;
    width: 100%;
    background-color: rgb(243, 241, 241);
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    position: relative;
}

footer * {
    font-family: "Poppins", sans-serif;
}

.online-shop,
.policy {
    min-height: 80%;
    width: fit-content;
    display: flex;
    align-items: start;
    flex-direction: column;
}

footer>div>div {
    margin-bottom: 1.5vh;
}

footer>div>div a {
    text-decoration: none;
    font-size: clamp(1rem, 1.4rem, 1.8rem);
    font-weight: 100;
    color: #858585;
    -webkit-font-smoothing: antialiased;
    text-transform: capitalize;
    transition: color .2s linear;
}

footer>div>div a:hover {
    color: #333;
}

footer>div>div:first-child a b,
footer>div>div:first-child h6 b,
footer>div>div:first-child,
#return h6 b {
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    font-size: clamp(1.2rem, 1.5rem, 1.8rem);
    color: #222;
    font-weight: 900;
}


footer>div>div:first-child {
    margin-bottom: 2vh;
    font-size: clamp(1.3rem, 1.6rem, 1.8rem);
}


.playstore,
.original {
    width: 25%;
    min-height: 20vh;
}

#playstore a,
#appstore a {
    overflow: hidden;
    border-radius: 8px;
    display: grid;
    place-content: center;
}

#appstore a img {
    width: 8vw;
}

.playstore div {
    display: inline-block;
    font-weight: bold;
}

#playstore a img {
    width: 9vw;
}

.original>div img {
    height: 3rem;
    margin-right: 1vh;
}

#return img {
    margin-right: 1vh;
    height: 3.3rem;
}

.original div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#original h6,
#return h6 {
    color: #222;
    text-transform: uppercase;
}

#original h6 span,
#return h6 span {
    text-transform: lowercase;
    color: #858585;
    font-weight: 100;
    font-size: clamp(1.2rem, 1.5rem, 1.7rem);
}

.social {
    width: 70%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

.social div h4 {
    font-size: clamp(1.2rem, 1.3rem, 1.6rem);
}

.social div:last-child {
    width: 100%;
    height: 60%;
    display: flex;
}

.social div:last-child a {
    width: fit-content;
    height: 100%;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: .5vh;
}

.social div:last-child a img {
    height: 1.8vw;
    object-fit: contain;
    object-position: center;
}

.copyright {
    width: 100%;
    font-size: clamp(1rem, 1.1rem, 1.5rem);
    color: #555;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgb(176, 176, 176);
    display: flex;
    justify-content: center;
    text-transform: capitalize;
}

/* footer section */

/* loader */

.loader {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: block;
    margin: 15px auto;
    position: absolute;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFF;
    box-shadow: -24px 0 #FFF, 24px 0 #FFF;
    box-sizing: border-box;
    animation: shadowPulse 1s linear infinite;
}

.black {
    display: none;
}

@keyframes shadowPulse {
    33% {
        background: #FFF;
        box-shadow: -24px 0 #639fa5, 24px 0 #FFF;
    }

    66% {
        background: #639fa5;
        box-shadow: -24px 0 #FFF, 24px 0 #FFF;
    }

    100% {
        background: #FFF;
        box-shadow: -24px 0 #FFF, 24px 0 #639fa5;
    }
}


/* loader */

/* progress animation */


@keyframes progress {
    0% {
        width: 0%;
    }

    99% {
        width: 100%;
    }

    100% {
        width: 0%;
    }
}


/* progress animation */

/* mobile elements that are hidden in desktop */
.right-nav {
    display: none;
}

.text-for-image {
    display: none;
}

.side-bar {
    display: none;
}

.filter-btn {
    display: none;
}

/* mobile elements that are hidden in desktop */

/* extra small screen devices */

@media screen and (299px < width < 473px) {

    /* .search-nav{
        display: none;
    } */


    * {
        user-select: none;
    }

    .hide {
        display: none;
    }


    html,
    body {
        height: 100dvh;
    }

    /* header & navbar section */

    header,
    nav {
        min-height: 100px;
        width: 100%;
        display: grid;
        box-shadow: none;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }

    nav {
        padding: 5px;
        gap: 2rem;
    }

    .search-nav {
        grid-column: span 2;
        width: auto;
    }

    .search-nav input {
        height: 100%;
        width: 90%;
        padding: 0 10px;
        margin: 0;
    }

    nav>div {
        width: 50%;
    }

    .center-nav,
    .cart {
        display: none;
    }

    .logo {
        height: 100%;
        width: 60%;
    }

    .logo a {
        font-size: clamp(1.8rem, 2rem, 2.5rem);
        background-color: transparent;
        color: #74bac0;
    }

    .right-nav {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }

    .btn {
        height: 100%;
        width: 20%;
        position: relative;
    }

    .btn img {
        height: 50%;
        object-fit: contain;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .side-bar {
        height: 110dvh;
        width: 67%;
        position: fixed;
        z-index: 10;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        box-shadow: -2px 14px 12px 8px rgba(128, 128, 128, 0.224);
        transform: translateX(100%);
        transition: .15s linear all;
    }

    .closebtn {
        height: 60px;
        width: 30%;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .closebtn img {
        height: 50%;
    }

    .menu {
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        padding: 3vh;
        gap: 2rem;
        overflow: scroll;
    }

    .menu a {
        text-decoration: none;
        color: #555;
        font-size: clamp(2vw, 4.0vw, 5vw);
        letter-spacing: -0.5px;
        text-transform: capitalize;
        font-weight: 100;
        font-family: "Poppins", montserrat;
    }

    .menu h3 {
        text-transform: uppercase;
        font-family: "Poppins", montserrat;
        font-weight: 800;
        color: black;
        font-size: clamp(3vw, 4.6vw, 5vw);
    }

    #logo {
        width: 100%;
        display: flex;
        margin: 1vh 0;
        justify-content: center;
    }

    #logo a {
        font-family: 'righteous', gilroy;
        font-size: clamp(6vw, 7vw, 8.5vw);
        background-color: #74bac0;
        color: white;
        padding: 0 5px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    /* header and navbar section */


    /* main section */

    main {
        position: relative;
    }

    .shop {
        margin: 3.5vw 0;
    }

    .shop h1 {
        font-size: clamp(6vw, 6.5vw, 7.5vw);
    }

    /* filter bar styling */

    .filter {
        width: 100%;
        height: min-content;
        display: flex;
        overflow: hidden;
        padding: 0 2.7rem;
        gap: 1rem;
        margin: 3.5vw 0;
    }

    .filter-wrap {
        position: absolute;
        background-color: white;
        width: 75%;
        display: flex;
        flex-direction: column;
        height: 100dvh;
        z-index: 5;
        top: 0;
        left: -100%;
        overflow: hidden;
        justify-content: flex-start;
        box-shadow: -2px 14px 12px 8px rgba(128, 128, 128, 0.224);
        gap: 2rem;
        padding: 4rem 2rem;
        transition: .2s linear;
    }

    .filter-wrap>div {
        display: flex;
        flex-direction: column;
        height: max-content;
        width: 100%;
        gap: 1.5rem;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        overflow: scroll;
    }

    .filter h3 {
        font-size: clamp(4.5vw, 5.3vw, 5.5vw);
        font-weight: 500;
        height: max-content;
    }

    .filter span {
        font-size: clamp(3.5vw, 4.3vw, 5.5vw);
        height: max-content;
        font-weight: 100;
    }

    .filter-wrap .close-btn {
        height: 30px;
        width: 30px;
        position: absolute;
        top: 0;
        right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .close-btn img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }

    .filter-btn {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: .5rem 1rem;
        gap: .5rem;
        width: min-content;
        background-color: #74bac0;
        border-radius: 10px;
    }

    .filter-btn img {
        height: 4.8vw;
        object-fit: contain;
        object-position: center;
        display: block;
    }

    .filter-btn h3 {
        font-size: clamp(4.4vw, 4.8vw, 5.8vw);
        color: white;
    }

    /* filter bar styling */

    /* products list styling */

    .main {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .container {
        padding: 2rem 1rem;
        gap: 2rem;
        width: 100%;
    }

    .shop-card {
        height: 30rem;
        width: 19rem;
    }

    .no-product {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .no-product span,
    .no-product img {
        font-size: 7vw;
        height: 50%;
    }

    .no-product img {
        height: 50px;
    }


    /* products list styling */

    /* main section styling*/



    /* footer section styling */

    footer {
        flex-direction: column;
    }

    .online-shop {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: auto auto;
        place-content: flex-start;
        padding: 0 1rem;
        gap: 1rem;
    }

    .head {
        height: 50%;
        width: 100%;
        grid-column: span 3;
    }

    .policy {
        display: grid;
        grid-template-columns: repeat(3, auto);
        place-content: flex-start;
        padding: 0 1rem;
        gap: 1rem;
        grid-template-rows: auto auto auto;
    }

    .policy>div:first-child {
        grid-column: span 3;
    }

    .policy>div a {
        white-space: nowrap;
    }

    .playstore {
        display: none;
    }

    .original {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 2vh;
    }


    .original>div {
        width: 100%;
    }

    .copyright {
        font-weight: 100;
        height: 3vh;
        align-items: center;
    }
}

/* extra small screen devices */


/* small or medium screen size devices */

@media screen and (472px < width < 621px) {


    * {
        user-select: none;
    }

    .hide {
        display: none;
    }


    html,
    body {
        height: 100dvh;
    }

    /* header & navbar section */

    header,
    nav {
        min-height: 120px;
        width: 100%;
        display: grid;
        box-shadow: none;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }

    nav {
        padding: 5px;
        gap: 2rem;
    }

    .search-nav {
        grid-column: span 2;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .search-nav input {
        height: 100%;
        width: 90%;
        max-width: 400px;
        padding: 0 10px;
        margin: 0;
    }

    nav>div {
        width: 50%;
    }

    .center-nav,
    .cart {
        display: none;
    }

    .logo {
        height: 100%;
        width: 60%;
    }

    .logo a {
        font-size: clamp(1.8rem, 2rem, 2.5rem);
        background-color: transparent;
        color: #74bac0;
    }

    .right-nav {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }

    .btn {
        height: 100%;
        width: 20%;
        position: relative;
    }

    .btn img {
        height: 50%;
        object-fit: contain;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .side-bar {
        height: 110dvh;
        width: 55%;
        position: fixed;
        z-index: 10;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        box-shadow: -2px 14px 12px 8px rgba(128, 128, 128, 0.224);
        transform: translateX(100%);
        transition: .15s linear all;
    }

    .closebtn {
        height: 60px;
        width: 30%;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .closebtn img {
        height: 50%;
    }

    .menu {
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        padding: 3vh;
        gap: 2rem;
        overflow: scroll;
    }

    .menu a {
        text-decoration: none;
        color: #555;
        font-size: clamp(2vw, 3.0vw, 4vw);
        letter-spacing: -0.5px;
        text-transform: capitalize;
        font-weight: 100;
        font-family: "Poppins", montserrat;
    }

    .menu h3 {
        text-transform: uppercase;
        font-family: "Poppins", montserrat;
        font-weight: 800;
        color: black;
        font-size: clamp(2vw, 3.5vw, 5vw);
    }

    #logo {
        width: 100%;
        display: flex;
        margin: 1vh 0;
        justify-content: center;
    }

    #logo a {
        font-family: 'righteous', gilroy;
        font-size: clamp(4vw, 5vw, 6.5vw);
        background-color: #74bac0;
        color: white;
        padding: 0 5px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    /* header and navbar section */


    /* main section */

    main {
        position: relative;
    }

    .shop {
        margin: 3.5vw 0;
    }

    .shop h1 {
        font-size: clamp(6vw, 6.5vw, 7.5vw);
    }

    /* filter bar styling */

    .filter {
        width: 100%;
        height: min-content;
        display: flex;
        overflow: hidden;
        padding: 0 2.7rem;
        gap: 1rem;
        margin: 3.5vw 0;
    }

    .filter-wrap {
        position: absolute;
        background-color: white;
        width: 55%;
        display: flex;
        flex-direction: column;
        height: 100dvh;
        z-index: 5;
        top: 0;
        left: -100%;
        overflow: hidden;
        justify-content: flex-start;
        box-shadow: -2px 14px 12px 8px rgba(128, 128, 128, 0.224);
        gap: 2rem;
        padding: 4rem 2rem;
        transition: .2s linear;
    }

    .filter-wrap>div {
        display: flex;
        flex-direction: column;
        height: max-content;
        width: 100%;
        gap: 1.5rem;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        overflow: scroll;
    }

    .filter h3 {
        font-size: clamp(3vw, 4.5vw, 5.5vw);
        font-weight: 500;
        height: max-content;
    }

    .filter span {
        font-size: clamp(3.5vw, 3.6vw, 5.5vw);
        height: max-content;
        font-weight: 100;
    }

    .filter-wrap .close-btn {
        height: 30px;
        width: 30px;
        position: absolute;
        top: 0;
        right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .close-btn img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }

    .filter-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        gap: .5rem;
        min-width: 60px;
        background-color: #74bac0;
        border-radius: 10px;
    }

    .filter-btn img {
        height: 2rem;
        object-fit: contain;
        object-position: center;
        display: block;
    }

    .filter-btn h3 {
        font-size: clamp(3.4vw, 3.8vw, 5.8vw);
        color: white;
        font-weight: 100;
    }

    /* filter bar styling */

    /* products list styling */

    .main {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .container {
        padding: 2rem 1rem;
        gap: 3rem;
        width: 100%;
    }

    .shop-card {
        height: 30rem;
        width: 19rem;
    }

    .no-product {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .no-product span,
    .no-product img {
        font-size: 7vw;
        height: 50%;
    }

    .no-product img {
        height: 50px;
    }


    /* products list styling */

    /* main section styling*/



    /* footer section styling */

    footer {
        flex-direction: column;
    }

    .online-shop {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: auto auto;
        place-content: flex-start;
        padding: 0 1rem;
        gap: 1rem;
    }

    .head {
        height: 50%;
        width: 100%;
        grid-column: span 3;
    }

    .policy {
        display: grid;
        grid-template-columns: repeat(3, auto);
        place-content: flex-start;
        padding: 0 1rem;
        gap: 1rem;
        grid-template-rows: auto auto auto;
    }

    .policy>div:first-child {
        grid-column: span 3;
    }

    .policy>div a {
        white-space: nowrap;
    }

    .playstore {
        display: none;
    }

    .original {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 2vh;
        align-items: flex-start;
    }

    #original{
        justify-content: flex-start;
    }
    .original>div {
        width: 100%;
    }

    .copyright {
        font-weight: 100;
        height: 3vh;
        align-items: center;
    }
}

/* small or medium screen size devices */


/* large screen size devices */

@media screen and (620px < width < 741px) {


    * {
        user-select: none;
    }

    .hide {
        display: none;
    }


    html,
    body {
        height: 100dvh;
    }

    /* header & navbar section */

    header,
    nav {
        min-height: 120px;
        width: 100%;
        display: grid;
        box-shadow: none;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;

    }

    nav {
        padding: 5px;
        gap: 2rem;
    }

    .search-nav {
        grid-column: span 2;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .search-nav input {
        height: 100%;
        width: 90%;
        max-width: 450px;
        padding: 0 10px;
        margin: 0;
    }

    nav>div {
        width: 50%;
    }

    .center-nav,
    .cart {
        display: none;
    }

    .logo {
        height: 100%;
        width: 60%;
    }

    .logo a {
        font-size: clamp(1.8rem, 2rem, 2.5rem);
        background-color: transparent;
        color: #74bac0;
    }

    .right-nav {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }

    .btn {
        height: 100%;
        width: 20%;
        position: relative;
    }

    .btn img {
        height: 50%;
        object-fit: contain;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .side-bar {
        height: 110dvh;
        width: 50%;
        position: fixed;
        z-index: 10;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        box-shadow: -2px 14px 12px 8px rgba(128, 128, 128, 0.224);
        transform: translateX(100%);
        transition: .15s linear all;
    }

    .closebtn {
        height: 60px;
        width: 30%;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .closebtn img {
        height: 50%;
    }

    .menu {
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        padding: 3vh;
        gap: 2rem;
        overflow: scroll;
    }

    .menu a {
        text-decoration: none;
        color: #555;
        font-size: 15px;
        letter-spacing: -0.5px;
        text-transform: capitalize;
        font-weight: 100;
        font-family: "Poppins", montserrat;
    }

    .menu h3 {
        text-transform: uppercase;
        font-family: "Poppins", montserrat;
        font-weight: 800;
        color: black;
        font-size: 18px;
    }

    #logo {
        width: 100%;
        display: flex;
        margin: 1vh 0;
        justify-content: center;
    }

    #logo a {
        font-family: 'righteous', gilroy;
        font-size: clamp(2vw, 3.7vw, 4.5vw);
        background-color: #74bac0;
        color: white;
        padding: 0 5px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    /* header and navbar section */


    /* main section */

    main {
        position: relative;
        margin-top: 0;
    }

    .shop {
        margin: 3.5vw 0;
    }

    .shop h1 {
        font-size: clamp(4vw, 6vw, 7.5vw);
        font-weight: 400;
    }

    /* filter bar styling */

    .filter {
        width: 100%;
        height: min-content;
        display: flex;
        overflow: hidden;
        padding: 0 2.7rem;
        gap: 1rem;
        margin: 3.5vw 0;
    }

    .filter-wrap {
        position: absolute;
        background-color: white;
        width: 55%;
        display: flex;
        flex-direction: column;
        height: 100dvh;
        z-index: 5;
        top: 0;
        left: -100%;
        overflow: hidden;
        justify-content: flex-start;
        box-shadow: -2px 14px 12px 8px rgba(128, 128, 128, 0.224);
        gap: 2rem;
        padding: 4rem 2rem;
        transition: .2s linear;
    }

    .filter-wrap>div {
        display: flex;
        flex-direction: column;
        height: max-content;
        width: 100%;
        gap: 1.5rem;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        overflow: scroll;
    }

    .filter h3 {
        font-size: clamp(3vw, 4.5vw, 5.5vw);
        font-weight: 500;
        height: max-content;
    }

    .filter span {
        font-size: clamp(3.5vw, 3.6vw, 5.5vw);
        height: max-content;
        font-weight: 100;
    }

    .filter-wrap .close-btn {
        height: 30px;
        width: 30px;
        position: absolute;
        top: 0;
        right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .close-btn img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }

    .filter-btn {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 5px 10px;
        gap: .5rem;
        min-width: 60px;
        width: max-content;
        height: 100%;
        background-color: #74bac0;
        border-radius: 10px;
    }

    .filter-btn img {
        height: 2vw;
        object-fit: contain;
        object-position: center;
        display: block;
    }

    .filter-btn h3 {
        font-size: clamp(2.4vw, 2.8vw, 5.8vw);
        color: white;
        font-weight: 100;
    }

    /* filter bar styling */

    /* products list styling */

    .main {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .container {
        padding: 2rem 1rem;
        gap: 3rem;
        width: 100%;
    }

    .shop-card {
        height: 30rem;
        width: 19rem;
    }

    .no-product {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .no-product span,
    .no-product img {
        font-size: 7vw;
        height: 50%;
    }

    .no-product img {
        height: 50px;
    }


    /* products list styling */

    /* main section styling*/



    /* footer section styling */

    footer {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
    }

    .online-shop {
        display: grid;
        width: max-content;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: auto auto;
        place-content: flex-start;
        padding: 0 1rem;
        gap: 1rem;
    }

    .head {
        height: 50%;
        width: 100%;
        grid-column: span 3;
    }

    .policy {
        display: grid;
        grid-template-columns: repeat(3, auto);
        place-content: flex-start;
        padding: 0 1rem;
        gap: 1rem;
        grid-template-rows: auto auto auto;
    }

    .policy>div:first-child {
        grid-column: span 3;
    }

    .policy>div a {
        white-space: nowrap;
    }

    .playstore {
        display: none;
    }

    .original {
        display: flex;
        flex-direction: column;
        margin-top: 2vh;
        width: 50%;
        align-items: flex-start;
        justify-content: flex-start;
    }


    .original>div {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .copyright {
        font-weight: 100;
        height: 3vh;
        align-items: center;
    }
}

/* large screen size devices */

/* extra large screen size devices */

@media screen and (740px < width < 1023px) {

    :root {
        --mid-font: clamp(1.5vw, 1.8vw, 2.5vw);
        --small-font: clamp(1.3vw, 1.7vw, 2vw);
        --xs-font: clamp(1.3vw, 1.5vw, 2.5vw);
    }


    header,
    nav {
        justify-content: space-between;
    }

    nav {
        padding: 0 20px;
    }

    .logo {
        width: max-content;
        padding: 0;
    }

    .logo a {
        font-size: clamp(2vw, 2.4vw, 3.5vw);
    }

    .center-nav li {
        gap: 2rem;
    }

    .center-nav>li>ul>a {
        font-size: var(--mid-font);
    }

    .search-nav {
        width: max-content;
    }

    .search-nav input::placeholder {
        padding: 0;
        font-size: var(--small-font);
    }

    .cart {
        padding: 0 2rem;
        gap: 2rem;
    }

    .cart a img {
        height: 2.9vw;
    }

    .filter h3 {
        font-size: var(--mid-font);
    }

    .filter span {
        font-size: var(--xs-font);
    }

    .shop-card {
        height: 28rem;
        width: 18rem;
    }

    .no-product {
        width: 100%;
        justify-content: center;
    }

    .no-product span {
        font-size: 6vw;
    }

    .no-product img {
        height: 10vw;
    }

    footer>div>div:first-child a b,
    footer>div>div:first-child h6 b,
    footer>div>div:first-child,
    #return h6 b {
        font-size: var(--small-font);
    }

    footer>div>div a{
        font-size: var(--xs-font);
    }

    #original h6 span, #return h6 span{
        font-size: var(--xs-font);
    }

}

/* extra large screen size devices */