@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

@font-face {
    font-family: gilroy-light;
    src: url(assets/fonts/Gilroy-Light.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: 10px;
}

*::selection {
    color: whitesmoke;
    background-color: #639fa5;
}

*:focus {
    outline: none;
}

img::selection {
    background-color: transparent;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: white;
}
body{position: relative;transition: filter .2s linear,background .2s linear}
img {
    -webkit-user-drag: none;
}

/* nav starts */

header,
nav {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 9;
    box-shadow: 0 1px 11px -8px grey;
}

nav * {
    font-size: 1.1vmax;
    font-family: gilroy-light,sans-serif;
}

header nav>div {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav {
    position: fixed;
    background-color: white;
}

.right-nav,
.logo {
    width: 25%;
    justify-content: center;
}

.logo {
    width: 10%;
}

.logo a {
    height: 100%;
    width: 100%;
    display: grid;
    place-content: center;
}

.logo a img {
    height: 8vmax;
}

.center-nav {
    width: 30%;
}

.center-nav>li {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    text-transform: capitalize;
    height: 100%;
}

.center-nav>li>ul:last-child {
    position: relative;
    text-transform: capitalize;
}

.center-nav>li>ul:last-child>a::before {
    position: absolute;
    content: 'new';
    top: -1.5vh;
    color: orangered;
    font-weight: 100;
    font-size: 1rem;
    border-radius: 8px;
    text-transform: capitalize;
    padding: .5vh;
    left: 100%;
}

.center-nav>li>ul>a {
    text-decoration: none;
    color: black;
    font-weight: 800;
    transition: .1s;
    height: 100%;
}


.center-nav>li>ul>a:hover {
    color: #639fa5;
}

.center-nav>li>ul {
    position: relative;
    height: 100%;
    line-height: 10vh;
}

.right-nav input{
    outline: none;
    border: none;
    padding: 0 2vh;
    height: 50%;
    border-radius: 7px;
    font-family: "Poppins";
    width: 60%;
    box-shadow: 5px 5px 17px #c8c8c8,
             -5px -5px 17px #ffffff;
    font-weight: 500;
    color: #333;   
}

.right-nav input::placeholder{
    font-size: 1.5rem;
    letter-spacing: -.5px;
    text-transform: capitalize;
}

.cart {
    width: 8%;
    justify-content: space-between;
}

.cart a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
    font-weight: 600;
    height: 100%;
    color: #000;
}

.cart a img {
    height: 1.7vw;
    color: rgb(152, 152, 152);
}

.cart #profile {
    position: relative;
    height: 100%;
}


.cart #profile li {
    position: absolute;
    top: 10vh;
    width: 12vw;
    list-style-type: none;
    padding: 1vh 0;
    backdrop-filter: blur(12px);
    line-height: 10vh;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    background-color: rgba(126, 126, 126, 0.75);
    opacity: 0;
    visibility: hidden;
}

.cart #profile li:hover {
    opacity: 1;
    visibility: visible;
}

.cart #profile .active {
    opacity: 1;
    visibility: visible;
}

.cart #profile li ul {
    line-height: 2;
    display: flex;
    padding: 0 2vh;
    justify-content: left;
    margin-bottom: 5px;
    width: 100%;
    text-transform: capitalize;
}

.cart #profile li ul:first-child a {
    padding: 0 2vh;
    background-color: #74bac0;
    color: white;
    border: 2px solid #74bac0;
    border-radius: 5px;
    width: 100%;
    transition: .1s linear;
}

.cart #profile li ul:hover {
    background-color: #74bac0;
}

.cart #profile li ul:hover>a {
    color: white;
}

.cart #profile li ul:first-child {
    background-color: transparent;
}

.cart #profile li ul:first-child a:hover {
    background-color: rgb(254, 254, 254);
    border: 2px solid #74bac0;
    color: #74bac0;
}

.cart #profile li ul a {
    color: #fff;
    width: max-content;
    transition: .05s linear;
    display: flex;
    justify-content: left;
    text-align: left;
    font-size: 1.1vw;
}

/* nav ends */
/* main section */

main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.progress{
    display: inline-block;
    width: 0%;
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    background-color: #74bac0;
    /* animation: progress 1s linear 1 forwards; */
}

.main{
    width: 100%;
    display: flex;
    padding: 5vh;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.main>*{
    margin-bottom: 3.5vw;
}

.shop{
    width: 100%;
    justify-content: center;
    height: max-content;
    display: flex;
}

.shop h1{
    font-size: 3vw;
    color: rgb(142, 142, 142);
    text-transform: capitalize;
}


.filter{
    width: 95%;
    padding: 0 1vh;
    height: 5vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.filter>*{
    white-space: nowrap;
}

.filter .closed{
    opacity: 0;
    display: none;
}

.filter>span{
    margin-right: 2rem;
    text-transform: capitalize;
    font-size: 1.2vw;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    color: #888;
    font-weight: 600;
    transition: .2s linear;
}


.filter>span:hover{
    color: #639fa5;
}

.filter>h3{
    font-size: 1.5vw;
    height: 100%;
    color: #444;
    margin-right: 2rem;
    text-transform: capitalize;
}
.container{
    height: auto;
    overflow-x: hidden;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.shop-card{
    display: flex;  
    height: 35rem;
    width: 22rem;
    align-items: center;
    justify-content: center;
    margin: 2vh;
    transition: .1s linear;
    border: .01px solid rgb(201, 201, 201);
    transition: all .2s linear;
}
.shop-card:hover{
    box-shadow: 0 0 12px -5px grey;
    transform: translateY(-2%);
}

.container .hidden{
    display: none;
    opacity: 0;
    visibility: hidden;
}

.item{
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding-bottom: 1vh;
    flex-direction: column;
}

.item .photo{
    height: 75%;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.item .photo a{
    height: 100%;
    width: 100%;
}

.wallets .item .photo{
    padding: 0 2vh;
}
.wallets .item .photo img, .goggles .item #goggles img{
    object-fit: contain;
    object-position: center;
}

.item .photo img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.title-price, .brand{
    width: 100%;
    padding: 0 1vh;
    height: fit-content;
    justify-content: space-evenly;
    flex-direction: column;
    display: flex;
}
.title-price span,
.brand span{
    font-size: 1.2vw;
    align-items: flex-start;
    text-transform: capitalize;
    /* white-space: nowrap; */
    height: auto;
    font-weight: 600;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
}

.title-price > span:last-of-type{
    font-size: 1vw;
}

.title-price span a,
.brand span a{
    font-size: 1vw;
    text-decoration: none;
    font-weight: 500;
    color: #555;
    width: max-content;
    text-transform: capitalize;
}

.brand span a{
    height: 100%;
    width: max-content;
    display: flex;
    justify-content: center;
    font-weight: 600;
    color: black;
    font-size: 1.2vw;
}

.no-product{
    width: 70%;
    height: 50dvh;
    display: none;
    justify-content: space-evenly;
    align-items: center;
}

.no-product img{
    width: 20%;
    object-fit: contain;
    display: block;
    height: 100%;
}

.no-product span{
    text-transform: capitalize;
    font-weight: 600;
    color: #74bac0;
    font-size: 7rem;
}

/* main section */
/* footer section */
footer {
    height: max-content;
    padding: 2vw 7vw;
    width: 100%;
    background-color: rgb(243, 241, 241);
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

footer * {
    font-family: "Poppins", sans-serif;
}

.online-shop,
.policy {
    min-height: 80%;
    width: fit-content;
    display: flex;
    align-items: start;
    flex-direction: column;
}

footer>div>div {
    margin-bottom: 1.5vh;
}

footer>div>div a {
    text-decoration: none;
    font-size: 1.1vw;
    font-weight: 100;
    color: #858585;
    -webkit-font-smoothing: antialiased;
    text-transform: capitalize;
}

footer>div>div:first-child a b,
footer>div>div:first-child h6 b,
footer>div>div:first-child,
#return h6 b {
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    font-size: 1.1vw;
    color: #222;
    font-weight: 900;
}

footer>div>div:first-child {
    margin-bottom: 2vh;
}

.playstore,
.original {
    width: 25%;
    min-height: 20vh;
}

#playstore a,
#appstore a {
    overflow: hidden;
    border-radius: 8px;
    display: grid;
    place-content: center;
}

#appstore a img {
    width: 8vw;
}

.playstore div {
    display: inline-block;
    font-weight: bold;
}

#playstore a img {
    width: 9vw;
}

.original>div img {
    height: 3rem;
    margin-right: 1vh;
}

#return img {
    margin-right: 1vh;
    height: 3.3rem;
}

.original div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#original h6,
#return h6 {
    color: #222;
    text-transform: uppercase;
}

#original h6 span,
#return h6 span {
    text-transform: lowercase;
    color: #858585;
    font-weight: 100;
    font-size: 1.1vw;
}

.social {
    width: 70%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

.social div h4 {
    font-size: 1.1vw;
}

.social div:last-child {
    width: 100%;
    height: 60%;
    display: flex;
}

.social div:last-child a {
    width: fit-content;
    height: 100%;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: .5vh;
}

.social div:last-child a img {
    height: 1.8vw;
    object-fit: contain;
    object-position: center;
}

/* footer section */

/* loader */

.loader  {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: block;
    margin: 15px auto;
    position: absolute;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #FFF;
    box-shadow: -24px 0 #FFF, 24px 0 #FFF;
    box-sizing: border-box;
    animation: shadowPulse 1s linear infinite;
}
.black{
    display: none;
}
@keyframes shadowPulse {
    33% {
        background: #FFF;
        box-shadow: -24px 0 #639fa5, 24px 0 #FFF;
    }

    66% {
        background: #639fa5;
        box-shadow: -24px 0 #FFF, 24px 0 #FFF;
    }

    100% {
        background: #FFF;
        box-shadow: -24px 0 #FFF, 24px 0 #639fa5;
    }
}

/* loader */

/* progress animation */


@keyframes progress {
    0%{
        width: 0%;
    }
    99%{
        width: 100%;
    }
    100%{
        width: 0%;
    }
}






/* progress animation */
