@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@font-face {
    font-family: cocogoose;
    src: url(assets/fonts/Cocogoose\ Pro-trial.ttf);
}

@font-face {
    font-family: 'cocogoose light';
    src: url(assets/fonts/Cocogoose\ Pro\ Ultralight-trial.ttf);
}

@font-face {
    font-family: couture;
    src: url(assets/fonts/couture-bld.otf);
}

@font-face {
    font-family: gilroy;
    src: url(assets/fonts/Gilroy-ExtraBold.otf);
}

@font-face {
    font-family: gilroy-light;
    src: url(assets/fonts/Gilroy-Light.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy-light, sans-serif;
    font-size: 10px;
}

*::selection {
    color: whitesmoke;
    background-color: #639fa5;
}

*:focus{
    outline: none;
}

img::selection{
    background-color: transparent;
}

html{scroll-behavior: smooth;}

html,
body {
    height: 100%;
    width: 100%;
    background-color: white;
}
body{
    transition: filter .2s linear,background .2s;
}
img{
    -webkit-user-drag: none;
}

/* nav starts */

header,
nav {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 9;
    box-shadow: 0 1px 11px -8px grey;
}

nav * {
    font-size: clamp(1.5rem, 1.1vmax, 1.2vmax);
}

header nav>div {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    position: fixed;
    background-color: white;
    padding: 0 3rem;
}

.right-nav,
.logo {
    width: 25%;
    justify-content: center;
}

.logo {
    width: 10%;
}

.logo a {
    display: grid;
    padding: 0 4px;
    place-content: center;
    font-family: 'Righteous', sans-serif;
    text-decoration: none;
    color: #fff;
    background-color: #74bac0;
    overflow: hidden;
    text-transform: uppercase;
    font-size: clamp(1.3vw,1.4vw, 1.5vw);
}


.center-nav {
    width: 30%;
}

.center-nav>li {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    text-transform: capitalize;
    height: 100%;
}

.center-nav>li>ul:last-child {
    position: relative;
    text-transform: capitalize;
}


.center-nav>li>ul>a {
    text-decoration: none;
    color: black;
    font-weight: 800;
    transition: .1s;
    height: 100%;
}


.center-nav>li>ul>a:hover {
    color: #639fa5;
}



.center-nav>li>ul {
    position: relative;
    height: 100%;
    line-height: 10vh;
}

.center-nav>li>ul .drop-down {
    position: absolute;
    top: 100%;
    width: 15vw;
    line-height: 2.5;
    padding: 2vh;
    background-color: whitesmoke;
    border-radius: 0 0 10px 10px;
    left: 50%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 8px 6px -9px rgba(128, 128, 128, 0.428) inset;
    align-items: center;
    justify-content: center;
    transform: translateX(-50%);
    list-style: none;
    visibility: hidden;
    opacity: 0;
    transition: .2s;
}


.hover .drop-down>ul> a {
    text-decoration: none;
    font-size: 1.2vw;
    color: grey;
    font-weight: 900;
    transition: .1s linear;
}

.drop-down>ul>a:hover {
    color: #74bac0;
}

.center-nav>li>.show>.drop-down {
    visibility: visible;
    position: absolute;
    top: 100%;
    opacity: 1;
}

.right-nav input{
    outline: none;
    border: none;
    padding: 0 2vh;
    height: 50%;
    border-radius: 7px;
    font-weight: 900;
    font-family: "Poppins";
    width: min(80%,20vw);
    box-shadow: 2px 2px 10px #b5b5b576,
             -2px -2px 10px #ffffff;
    font-weight: 500;
}

.right-nav input::placeholder{
    font-size: clamp(1.3rem, 1.5rem, 1.5rem);
    text-transform: capitalize;
    letter-spacing: -.2px;
}

.right-nav button {
    border-radius: 0 7px 7px 0;
    cursor: pointer;
    width: 6vh;
    padding: 0;
    background-color: rgb(212, 211, 211);
    display: flex;
        justify-content: center;
        align-items: center;
}

.right-nav button img {
    height: 3vh;
    width: 3vh;
}

.cart {
    width: 8%;
    justify-content: space-around;
}

.cart a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
}

.cart a img {
    height: min(2.7rem, 2vw);
    color: rgb(152, 152, 152);
}

.cart #profile {
    position: relative;
    height: 100%;
}

.cart #profile>a {
    height: 100%;
}

.cart #profile li {
    position: absolute;
    top: 10vh;
    width: 11vw;
    list-style-type: none;
    padding: 1vh 0;
    backdrop-filter: blur(12px);
    line-height: 10vh;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    background-color: whitesmoke;
    opacity: 0;
    visibility: hidden;
    box-shadow: 5px 5px 17px #95959576,
             -5px -5px 17px #ffffff;
}

.cart #profile li:hover {
    opacity: 1;
    visibility: visible;
}

.cart #profile .active {
    opacity: 1;
    visibility: visible;
}

.cart #profile li ul {
    line-height: 2;
    display: flex;
    padding: 0 2vh;
    justify-content: left;
    margin-bottom: 5px;
    width: 100%;
    text-transform: capitalize;
}

.cart #profile li ul:first-child a {
    padding: 0 2vh;
    background-color: #74bac0;
    color: white;
    border: 2px solid #74bac0;
    border-radius: 5px;
    width: 100%;
    transition: .1s linear;
}

.cart #profile li ul:hover {
    background-color: #74bac0;
}

.cart #profile li ul:hover>a {
    color: white;
}

.cart #profile li ul:first-child {
    background-color: transparent;
}

.cart #profile li ul:first-child a:hover {
    background-color: rgb(254, 254, 254);
    border: 2px solid #74bac0;
    color: #74bac0;
}

.cart #profile li ul a {
    color: #333;
    width: max-content;
    transition: .05s linear;
    display: flex;
    justify-content: left;
    text-align: left;
    font-size: 1.1vw;
}


/* nav ends */

/* hero section starts */

main {
    width: 100%;
    margin-bottom: 10vh;
}

main > *{
    transition: .2s;
}

.hero {
    height: 88vh;
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin: 0 5% 5vh 5%;
}

#text,
#image {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

#text {
    width: 50%;
    height: 80%;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 3.6vh;
    gap: 2rem;
}

#text >*{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

#text h3 {
    font-size: clamp(1.9vw, 2.23vw, 4.2rem);
    letter-spacing: -0.1px;
    font-family: "cocogoose light";
    font-weight: 900;
    color: #333;
}

#text h1 {
    font-size: clamp(5vw, 5.9vw, 8.5rem);
    width: 100%;
    color: #639fa5;
    font-family: couture;
    letter-spacing: -2px;
}

#text h4 {
    width: 80%;
    font-family: "cocogoose light";
    font-weight: 900;
    font-size: clamp(1.2vw, 1.3vw, 1.8rem);
    line-height: 1.5;
    border-left: 3px solid #777;
    padding-left: 1vh;
    color: #333;
    text-align: left;
}

#text a {
    height: 6vh;
    width: fit-content;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 1.5vh 1vh;
    font-size: clamp(1.3vw, 1.4vw, 1.8rem);
    background-color: #639fa5;
    color: whitesmoke;
    transition: .2s;
    font-weight: 600;
}

#text a:hover {
    background-color: #3b757a;
}

#image {
    position: relative;
    justify-content: center;
    align-items: center;
}

#image h2 {
    position: absolute;
    z-index: 2;
    padding: 2vh;
    top: 20vh;
    left: 2vh;
    font-size: 2.5rem;
    color: skyblue;
    text-transform: capitalize;
    background-color: rgba(255, 255, 255, 0.447);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
}

#image img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
}

.banner-container{
    width: 100%;
    height: 70dvh;
    padding: 7vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
}



.img-container{
    width: 80%;
    height: 100%;
    display: flex;
    overflow: hidden;
    border-radius: 15px;
    position: relative;
}

.img-container button{
    position: absolute;
    top: 50%;
    z-index: 8;
    width: 4%;
    display: flex;
    height: 100%;
    transform: translateY(-50%);
    border: none;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.105) 0%, transparent 90%);
    transition: .2s linear;
}


.img-container>button:last-child{
    right: 0;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.105) 0%, transparent 90%);
}

.img-container button img{
    width: 100%;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    object-position: center;
    object-fit: contain;
}

.img-container button:active > img{
    transform: translateY(-50%) scale(.9);
}

.img-container::-webkit-scrollbar{
    display: none;
}

.img-container > .imgs{
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
}

.img-container img{
    width: 100%;
    object-position: bottom;
    object-fit: fill;
    display: block;
    cursor: pointer;
    position: absolute;
    transition: .3s transform linear;
}


.section-2 {
    min-height: 100vh;
    width: 100%;
    padding-top: 4vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28vh;
    border-radius: 20px;
    width: 70%;
    padding: 1vh 0;
    background-color: rgba(220, 220, 220, 0.592);
    margin-bottom: 3vh;
}

.top div {
    width: 25%;
    border-right: 2px solid whitesmoke;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}

.top>div:last-child {
    border: none;
}

.top div span {
    color: #333;
    font-weight: 600;
    font-size: clamp(1.3vw, 1.3vw, 1.5vw);
}

.top>div>img {
    height: max(6vw,45%);
}

.hero-2 {
    width: 100%;
}

.hero-2>div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    margin-bottom: 3vh;
    color: #639fa5;
}

.hero-2 div h1 {
    margin-bottom: 1vh;
    font-size: clamp(3vw,3.6vw,4.5vw);
}

.hero-2 div h3 {
    font-size: clamp(2vw,2.6vw,3.5vw);
}

.featured {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 10vh 0;
}

.featured>div {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: whitesmoke;
    height: 15vw;
    border-radius: 5px;
    transition: .1s;
}

.featured>div h3 {
    text-transform: uppercase;
    color: #333;
    font-size: 1.3vw;
    font-weight: 900;
}

.featured>div>div {
    height: 70%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.featured div a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.featured div a #adidas {
    height: 10vw;
    object-fit: cover;
    object-position: center;
}

.featured div a #asics {
    height: 3.5vw;
    object-fit: cover;
    object-position: center;
}

.featured div a #puma {
    height: 10vw;
}

.featured div a #campus {
    height: 1.7vw;
}

.featured div a #nike {
    height: 8vw;
    mix-blend-mode: darken;
}

.featured>div:hover {
    background-color: rgb(236, 236, 236);
}

.feat {
    /* height: 40vh; */
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.feat .model {
    width: 22%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.feat .model img {
    width: 100%;
    display: block;
}

.feat .products {
    width: 78%;
    height: 22vw;
    background-color: #09021b;
    padding: 2vh 0;
    border-radius: 20px 0 0 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.products>div {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.products span {
    height: 5rem;
    width: 1px;
    background-color: rgb(80, 79, 79);
}

.products>div>div {
    height: 13vw;
    width: 13vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    background-position: center;
    background-size: fill;
}

.products>div>h3 {
    color: rgb(213, 211, 211);
    font-family: gilroy-light;
    font-weight: 900;
    font-size: 1.5vw;
    text-transform: capitalize;
}

.products>div>div img {
    height: 11vw;
    object-fit: contain;
}
#hoodie img{
    height: 13vw;
    top: 45%;
}

.products div #shirt {
    background: linear-gradient(-140deg, rgb(109, 109, 225) 40%, rgb(64, 188, 245) 80%);

}

.products div #goggles {
    background: linear-gradient(-140deg, rgb(123, 255, 229) 40%, rgb(180, 180, 180) 80%);
}

.products div #tshirt {
    background: linear-gradient(-140deg, rgb(247, 96, 242) 40%, rgb(118, 44, 255) 80%);
}

.products div #hoodie {
    background: linear-gradient(-140deg, rgb(77, 41, 255) 40%, rgb(164, 64, 245) 80%);
}

.products>div>a {
    text-decoration: none;
    font-family: montserrat, sans-serif;
    color: white;
    font-weight: 700;
    font-size: 1.1vw;
    text-transform: capitalize;
    transition: .2s;
    background-color: orange;
    padding: .8vh;
    border-radius: 5px;
}

.section-3 {
    width: 100%;
}

.category {
    padding-top: 1vh;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.category>div:first-child{
    margin: 6vh 0;
}

.category h1 {
    font-size: clamp(4vw, 4.5vw,5vw);
    font-family: couture;
    height: 8vh;
    font-weight: 900;
    color: #8e8e8e;
}

.items {
    height: auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem 2rem;
    flex-wrap: wrap;
}

.item{
    width: 15vmax;
    height: 20vmax;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    transition: .1s linear;
}

.item>a {
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    position: relative;   
}

.item:hover {
    box-shadow: 7px 7px 17px #adadad,
                -7px -7px 17px #ffffff;
    transform: scale(1.01);
}

.item a h3 {
    position: absolute;
    text-align: center;
    padding: 1vh;
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.365) 40%, transparent);
    bottom: 0;
    left: 50%;
    transform: translatex(-50%);
    font-family: gilroy-light;
    text-transform: capitalize;
    font-weight: 900;
    letter-spacing: 1.5px;
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    font-size: clamp(1.3vw, 1.4vw, 1.7vw);
    z-index: 2;
}

.item a h3 span {
    font-family: 'cocogoose light';
    font-size: clamp(1vw, 1.1vw, 1.3vw);
    background-color: rgb(255, 117, 32);
    padding:.8vh;
    border-radius: 5px;
    margin-top: 1vh;
}

.item a img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0;
    aspect-ratio: 3/2;
}

.item.loaded > a > img{
    opacity: 1;
}

.section-4{
    height: 40vw;
    width: 100%;
    margin: 10vh 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.right, .left{
    height: 30vw;
    width: 45%;
    border-radius: 30px;
    overflow: hidden;
    display: inline-block;
}

.section-4>div a{
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
}

.section-4>div a img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: .2s ease;
    filter: brightness(.9);
    -webkit-filter: brightness(.9);
}

.section-4>div:hover{
    box-shadow: 2px 2px 17px #828282,
             -2px -2px 17px #ffffff;
    transition: .1s linear;
}

.section-4>div:hover > a img{
    filter: brightness(1);
    -webkit-filter: brightness(1);
}

.section-4>div a span{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 5vw;
    min-width: 7vw;
    align-items: center;
    bottom: 0;
    font-family: "Poppins";
    text-transform: capitalize;
    left: 50%;
    transform: translateX(-50%);
}

.section-4>div a span h5{
    color: black;
    background-color: rgba(255, 255, 255, 0.372);
    padding: 10px;
    font-weight: 100;
    width: inherit;
    font-size: 1.3vw;
    border-radius: 5px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.section-4>div a span h5 svg{
    transition: .1s linear;
}

.section-4>div:hover > a span h5 svg{
    transform: translateX(8px);
}

.section-4 .for{
    background-color: white;
    font-weight: 900;
    color: black;
}

/* footer section */

footer {
    height: max-content;
    padding: 2vw 7vw;
    width: 100%;
    background-color: rgb(243, 241, 241);
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    position: relative;
}

footer *{
    font-family: "Poppins", sans-serif;
}

.online-shop, .policy {
    min-height: 80%;
    width: fit-content;
    display: flex;
    align-items: start;
    flex-direction: column;
}

footer>div>div{
    margin-bottom: 1.5vh;
}

footer>div>div a {
    text-decoration: none;
    font-size: clamp(1rem,1.4rem,1.8rem);
    font-weight: 100;
    color: #858585;
    -webkit-font-smoothing: antialiased;
    text-transform: capitalize;
    transition: color .2s linear;
}

footer>div>div a:hover{
    color: #333;
}

footer>div>div:first-child a b,
footer>div>div:first-child h6 b,
footer>div> div:first-child, 
#return h6 b{
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    font-size: clamp(1.2rem, 1.5rem, 1.8rem);
    color: #222;
    font-weight: 900;
}


footer>div> div:first-child{
    margin-bottom: 2vh;
    font-size: clamp(1.3rem, 1.6rem, 1.8rem);
}


.playstore, .original{
    width: 25%;
    min-height: 20vh;
}

#playstore a, #appstore a{
    overflow: hidden;
    border-radius: 8px;
    display: grid;
    place-content: center;
}

#appstore a img{
    width: 8vw;
}
.playstore div{
    display: inline-block;
    font-weight: bold;
}
#playstore a img{
    width: 9vw;
}

.original>div img{
    height: 3rem;
    margin-right: 1vh;
}

#return img{
    margin-right: 1vh;
    height: 3.3rem;
}

.original div{
    display: flex;
    justify-content: center;
    align-items: center;
}

#original h6, #return h6{
    color: #222;
    text-transform: uppercase;
}

#original h6 span, #return h6 span{
    text-transform: lowercase;
    color: #858585;
    font-weight: 100;
    font-size: clamp(1.2rem,1.5rem,1.7rem);
}

.social{
    width: 70%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

.social div h4{
    font-size: clamp(1.2rem,1.3rem,1.6rem);
}

.social div:last-child{
    width: 100%;
    height: 60%;
    display: flex;
}

.social div:last-child a{
    width: fit-content;
    height: 100%;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: .5vh;
}

.social div:last-child a img{
    height: 1.8vw;
    object-fit: contain;
    object-position: center;
}

.copyright{
    width: 100%;
    font-size: clamp(1rem, 1.1rem, 1.5rem);
    color: #555;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgb(176, 176, 176);
    display: flex;
    justify-content: center;
    text-transform: capitalize;
}



/* mobile elements that are hidden in desktop */

.right-nav{
    display: none;
}

.text-for-image{
    display: none;
}

.side-bar{
    display: none;
}
/* mobile elements that are hidden in desktop */



/* footer section */


/* small screen sizes devices */

@media screen and (319px < width < 473px) {
    

    *{
        user-select: none;
    }
    
    .hide{
        display: none;
    }
    
    
    html,
    body{
        height: 100dvh;
    }

    /* header & navbar section */

    header,
    nav{
        height: 60px;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0;
        justify-content: space-between;
        box-shadow: none;
    }

    .center-nav,
    .cart{
        display: none;
    }

    .logo{
        height: 50%;
        width: 40%;
    }

    .logo a{
        font-size: clamp(1.8rem, 2rem, 2.5rem);
        background-color: transparent;
        color: #74bac0;
    }

    .right-nav{
        width: 20%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn{
        height: 100%;
        width: 100%;
        position: relative;
    }
    
    .btn img{
        height: 50%;
        object-fit: contain;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }

    .side-bar{
        height: 110dvh;
        width: 67%;
        position: fixed;
        z-index: 10;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        box-shadow: -2px 14px 12px 8px rgba(128, 128, 128, 0.224);
        transform: translateX(100%);
        transition: .15s linear all;
    }

    .closebtn{
        height: 60px;
        width: 30%;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .closebtn img{
        height: 50%;
    }

    .menu{
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        padding: 3vh;
        gap: 2rem;
    }

    .menu a{
        text-decoration: none;
        color: #555;
        font-size: clamp(2vw, 4.0vw, 5vw);
        letter-spacing: -0.5px;
        text-transform: capitalize;
        font-weight: 100;
        font-family: "Poppins", montserrat;
    }
    
    .menu h3{
        text-transform: uppercase;
        font-family: "Poppins", montserrat;
        font-weight: 800;
        color: black;
        font-size: clamp(3vw, 4.6vw, 5vw);
    }

    #logo{
        width: 100%;
        display: flex;
        margin: 1vh 0;
        justify-content: center;
    }

    #logo h3{
        font-family: 'righteous', gilroy;
        font-size: clamp(6vw, 7vw, 8.5vw);
        background-color: #74bac0;
        color: white;
        padding: 0 5px;
        letter-spacing: 2px;
    }



    /* header & navbar section */

    #home{
        width: 100%;
        position: relative;
        padding-top:5vh ;
        transition: .15s all linear;
    }

    .hero{
        min-height: calc(100dvh - 60px);
        display: flex;
        flex-direction: column;
        margin: 0;
        min-width: 100%;
        padding: 0;
    }

    .hero > div {
        min-height: 50%;
    }

    .hero  #text{
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        padding-left: 3vh;
        gap: 2rem;
        margin-bottom: 2vh;
    }

    #text > *{
        text-align: center;
        display: flex;
        justify-content: center;
    }

    #text h3{
        font-size: clamp(2vh, 2.5vh, 2.7vh);
        width: 100%;
    }

    #text h1{
        font-size: clamp(3vh, 6vh, 8vh);
    }

    #text h4{
        font-size: clamp(1.3vh, 1.8vh, 2.1vh);
        width: 100%;
        text-align: center;
        border: none;
    }

    #text a{
        font-size: clamp(1.3vh, 1.9vh, 2.1vh);
        padding: 0px 15px;
        border-radius: 30px;
    }

    #image{
        width: 100%;
        height: 60%;
    }

    #image h2{
        display: none;
    }

    #image img{
        height: 100%;
    }

    .banner-container{
        display: none;
    }

    .section-2{
        min-height: 100dvh;
    }

    .top{
        display: flex;
        flex-wrap: wrap;
        height: 30rem;
        width: 30rem;
        border-radius: 10px;
        padding: 5px 10px;
        margin-bottom: 5vh;
    }

    .top > div{
        width: 50%;
        height: 50%;
        border: none;
        padding: 0 10px;
    }

    .top > div:nth-child(1){
        border-right: 2px solid whitesmoke;
        border-bottom: 2px solid whitesmoke;
    }

    .top > div:nth-child(2){
        border-bottom: 2px solid whitesmoke;
    }

    .top > div:nth-child(3){
        border-right: 2px solid whitesmoke;
    }

    .top > div span{
        font-size: clamp(1.2vh, 1.9vh, 2vh);
        text-align: center;
    }

    .hero-2>div > h1 {
        font-size: clamp(2.5vh, 3.1vh, 3.6vh);
    }

    .hero-2>div > h3 {
        font-size: clamp(2.1vh, 2.5vh, 3.0vh);
    }

    .featured{
        overflow-x: auto;
        padding-left: 2vh;
        justify-content: flex-start;
        margin: 5vh 0;
    }

    .featured::-webkit-scrollbar{
        display: none;
    }

    .featured > div{
        height: 15rem;
        width: 15rem;
        margin: 0 2vh;
        flex-shrink: 0;
    }


    .featured div>a{
        height: 100%;
        width: 100%;
    }

    .featured div>a> #adidas{
        height: 10rem;
        object-position: center;
        object-fit: cover;
    }

    .featured div>a> #asics{
        height: 3.5rem;
        object-position: center;
        object-fit: cover;
    }

    .featured div>a> #puma{
        height: 12rem;
        object-position: center;
        object-fit: cover;
    }

    .featured div>a> #campus{
        height: 1.6rem;
        object-position: center;
        object-fit: cover;
    }

    .featured div>a> #nike{
        height: 8rem;
        object-position: center;
        object-fit: cover;
    }

    .featured>div h3{
        font-size: clamp(1.8vh, 1.9vh, 2.3vh);
    }

    .feat{
        min-height: 50vh;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .feat .model{
        width: 100%;
        height: 20%;
        display: flex;
    }

    .feat .model .text-for-image{
        font-size: clamp(5.1vh, 5.6vh, 7vh);
        background: linear-gradient(to top right,#74bac0  0%, 50% , royalblue 90% );
        font-family: 'righteous',montserrat;
        color: transparent;
        background-clip: text;
        display: inline-block;
    }

    .feat .model img{
        display: none;
    }

    .feat .products{
        height: 338px;
        max-width: 331px;
        border-radius: 30px;
        overflow-x: scroll;
        align-items: flex-start;
        justify-content: flex-start;
    }
    
    .feat .products::-webkit-scrollbar{
        display: none;
    }

    .feat .products > div{
        width: 100%;
        height: 100%;
        flex-shrink: 0;
    }

    .products div > div{
        height: 17rem;
        width: 17rem;
        border-radius: 30px;
    } 

    .products>div>h3{
        font-size: clamp(2vh, 2.5vh, 2.7vh);
    }
    
    .products>div>a{
        font-size: clamp(2vh, 2.5vh, 2.7vh);
        border-radius: 30px;
        padding: 5px 10px;
    }

    .products >div >div  img{
        height: 100%;
        object-fit: contain;
        object-position: center;
        width: 100%;
    }

    #hoodie img{
        height: 110%;
        width: 110%;

    }

    .category > div:first-child{
        margin: 8vh 0 2vh 0;
    }

    .category h1{
        font-size: clamp(3vh, 3.7vh, 4.7vh);
    }

    .items{
        gap: 1rem;
        padding: 0 1rem;
        width: 100%;
    }

    .item{
        height: 60vmin;
        width: 45.8vmin;

        border-radius: 5px;
    }

    .item a h3{
        font-size: clamp(2vh, 2.15vh, 2.4vh);
    }
    
    .item a h3 span{
        display: none;
    }

    .section-4{
        min-height: 60vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        
    }

    .left,
    .right{
        width: 100%;
        height: 30vh;
        border-radius: 0px;
        margin: 0;
    }

    .section-4>div a span{
        bottom: 4vh;
    }

    .section-4>div a span h5{
        font-size: clamp(2vh, 2.15vh, 2.4vh);
        font-weight: 600;
    }

    footer{
        flex-direction: column;
    }

    .online-shop{
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: auto auto;
        place-content: flex-start;
        padding: 0 1rem ;
    }

    .head{
        height: 50%;
        width: 100%;
        grid-column: span 2;
    }

    .policy{
        display: grid;
        grid-template-columns: repeat(3, auto);
        place-content: flex-start ;
        padding: 0 1rem ;
        gap: 1rem;
        grid-template-rows: auto auto auto;
    }

    .policy>div:first-child{
        grid-column: span 3;
    }

    .policy>div a{
        white-space: nowrap;
    }

    .playstore{
        display: none;
    }

    .original{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 2vh;
    }


    .original > div{
        width: 100%;
        /* background-color: red; */
    }

    .copyright{
        font-weight: 100;
        height: 3vh;
        align-items: center;
    }
}

/* small screen sizes devices */

/* mid screen sizes devices */

@media screen and (472px < width < 621px) {
    

    *{
        user-select: none;
    }
    
    .hide{
        display: none;
    }
    
    
    html,
    body{
        height: 100dvh;
    }

    /* header & navbar section */

    header,
    nav{
        height: 60px;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0;
        justify-content: space-between;
        box-shadow: none;
    }

    .center-nav,
    .cart{
        display: none;
    }

    .logo{
        height: 50%;
        width: 30%;
    }

    .logo a{
        font-size: clamp(1.8rem, 2rem, 2.5rem);
        background-color: transparent;
        color: #74bac0;
    }

    .right-nav{
        width: 15%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn{
        height: 100%;
        width: 100%;
        position: relative;
    }
    
    .btn img{
        height: 50%;
        object-fit: contain;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }

    .side-bar{
        height: 110dvh;
        width: 60%;
        position: fixed;
        z-index: 10;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        box-shadow: -2px 14px 12px 8px rgba(128, 128, 128, 0.224);
        transform: translateX(100%);
        transition: .15s linear all;
    }

    .closebtn{
        height: 60px;
        width: 30%;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .closebtn img{
        height: 50%;
    }

    .menu{
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        padding: 3vh;
        gap: 2rem;
        overflow: scroll;
    }

    .menu a{
        text-decoration: none;
        color: #555;
        font-size: clamp(1vw, 3.2vw, 4vw);
        letter-spacing: -0.5px;
        text-transform: capitalize;
        font-weight: 100;
        letter-spacing: 1px;
        font-family: "Poppins", montserrat;
    }
    
    .menu h3{
        text-transform: uppercase;
        font-family: "Poppins", montserrat;
        font-weight: 800;
        color: black;
        font-size: clamp(3vw, 3.6vw, 5vw);
        letter-spacing: .5px;
    }

    #logo{
        width: 100%;
        display: flex;
        margin: 1vh 0;
        justify-content: center;
    }

    #logo h3{
        font-family: 'righteous', gilroy;
        font-size: clamp(2rem, 3rem, 4rem);
        background-color: #74bac0;
        color: white;
        font-weight: 100;
        padding: 0 5px;
        letter-spacing: 2px;
    }



    /* header & navbar section */

    #home{
        width: 100%;
        position: relative;
        padding-top: 30px;
        transition: .15s all linear;
    }

    .hero{
        min-height: calc(120dvh - 60px);
        display: flex;
        flex-direction: column;
        margin: 0;
        min-width: 100%;
        padding: 0;
    }

    .hero > div {
        min-height: 50%;
    }

    .hero  #text{
        min-height: max-content;
        width: 100%;
        justify-content: none;
        align-items: center;
        padding-left: 3vh;
        gap: 1.4rem;
        margin-bottom: 2vh;
    }

    #text > *{
        text-align: center;
        display: flex;
        justify-content: center;
    }

    #text h3{
        font-size: clamp(4vw, 5.4vw, 6.7vw);
        width: 100%;
    }

    #text h1{
        font-size: clamp(7vw, 10vw, 12vw);
    }

    #text h4{
        font-size: clamp(2vw, 2.5vw, 4.1vw);
        width: 80%;
        text-align: center;
        border: none;
    }

    #text a{
        font-size: clamp(1.3vh, 2.4vh, 4.1vh);
        padding: 0px 15px;
        border-radius: 30px;
    }

    #image{
        width: 100%;
        height: 60%;
    }

    #image h2{
        display: none;
    }

    #image img{
        max-height: 105%;
    }

    .banner-container{
        display: none;
    }

    .section-2{
        min-height: 100dvh;
    }

    .top{
        display: flex;
        flex-wrap: wrap;
        min-height: 60vmin;
        min-width: 50vmin;
        border-radius: 10px;
        padding: 5px 10px;
        margin-bottom: 5vh;
    }

    .top > div{
        width: 50%;
        height: 50%;
        border: none;
        padding: 0 10px;
    }

    .top > div:nth-child(1){
        border-right: 2px solid whitesmoke;
        border-bottom: 2px solid whitesmoke;
    }

    .top > div:nth-child(2){
        border-bottom: 2px solid whitesmoke;
    }

    .top > div:nth-child(3){
        border-right: 2px solid whitesmoke;
    }

    .top > div span{
        font-size: clamp(1.2vh, 1.9vh, 2vh);
        text-align: center;
    }

    .hero-2>div > h1 {
        font-size: clamp(2.5vh, 4vh, 5vh);
    }

    .hero-2>div > h3 {
        font-size: clamp(2.1vh, 3vh, 4.0vh);
    }

    .featured{
        overflow-x: auto;
        padding-left: 2vh;
        justify-content: flex-start;
        margin: 5vh 0;
    }

    .featured::-webkit-scrollbar{
        display: none;
    }

    .featured > div{
        height: 15rem;
        width: 15rem;
        margin: 0 2vh;
        flex-shrink: 0;
    }


    .featured div>a{
        height: 100%;
        width: 100%;
    }

    .featured div>a> #adidas{
        height: 10rem;
        object-position: center;
        object-fit: cover;
    }

    .featured div>a> #asics{
        height: 3.5rem;
        object-position: center;
        object-fit: cover;
    }

    .featured div>a> #puma{
        height: 12rem;
        object-position: center;
        object-fit: cover;
    }

    .featured div>a> #campus{
        height: 1.6rem;
        object-position: center;
        object-fit: cover;
    }

    .featured div>a> #nike{
        height: 8rem;
        object-position: center;
        object-fit: cover;
    }

    .featured>div h3{
        font-size: clamp(1.8vh, 1.9vh, 2.3vh);
    }

    .feat{
        min-height: 50vh;
        flex-direction: column;
        width: 100%;
        gap: 3rem;
        align-items: center;
    }

    .feat .model{
        width: 100%;
        height: 20%;
        display: flex;
    }

    .feat .model .text-for-image{
        font-size: clamp(5.1vh, 5.6vh, 7vh);
        background: linear-gradient(to top right,#74bac0  0%, 50% , royalblue 90% );
        font-family: 'righteous',montserrat;
        color: transparent;
        background-clip: text;
        display: inline-block;
    }

    .feat .model img{
        display: none;
    }

    .feat .products{
        height: 70vmin;
        width: 70%;
        border-radius: 30px;
        overflow-x: scroll;
        align-items: flex-start;
        justify-content: flex-start;
    }
    
    .feat .products::-webkit-scrollbar{
        display: none;
    }

    .feat .products > div{
        width: 100%;
        height: 100%;
        flex-shrink: 0;
    }

    .products div > div{
        height: 60%;
        width: 50%;
        border-radius: 30px;
    } 

    .products>div>h3{
        font-size: clamp(2vh, 2.7vh, 3.7vh);
    }
    
    .products>div>a{
        font-size: clamp(2vh, 2.5vh, 2.7vh);
        border-radius: 30px;
        padding: 7px 12px;
    }

    .products >div >div  img{
        height: 100%;
        object-fit: contain;
        object-position: center;
        width: 100%;
    }

    #hoodie img{
        height: 110%;
        width: 110%;

    }

    .category > div:first-child{
        margin: 8vh 0 2vh 0;
    }

    .category h1{
        font-size: clamp(3vh, 4.7vh, 5.7vh);
    }

    .items{
        gap: 3rem 1.5rem;
        padding: 0 1rem;
        width: 100%;
    }

    .item{
        height: 55vmin;
        width: 40.8vmin;
        max-height: 250px;
        max-width: 180px;
        border-radius: 5px;
    }

    .item a h3{
        font-size: clamp(2vh, 2.15vh, 2.4vh);
    }
    
    .item a h3 span{
        display: none;
    }

    .section-4{
        min-height: 80vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        
    }

    .left,
    .right{
        width: 100%;
        height: 50%;
        border-radius: 0px;
        margin: 0;
    }

    .section-4>div a span{
        bottom: 4vh;
    }

    .section-4>div a span h5{
        font-size: clamp(2vh, 2.15vh, 2.4vh);
        font-weight: 600;
    }

    footer{
        flex-direction: column;
    }

    .online-shop{
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: auto auto;
        place-content: flex-start;
        padding: 0 1rem ;
    }

    .head{
        height: 50%;
        width: 100%;
        grid-column: span 2;
    }

    .policy{
        display: grid;
        grid-template-columns: repeat(3, auto);
        place-content: flex-start ;
        padding: 0 1rem ;
        gap: 1rem;
        grid-template-rows: auto auto auto;
    }

    .policy>div:first-child{
        grid-column: span 3;
    }

    .policy>div a{
        white-space: nowrap;
    }

    .playstore{
        display: none;
    }

    .original{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 2vh;
    }


    .original > div{
        width: 100%;
        /* background-color: red; */
    }

    .copyright{
        font-weight: 100;
        align-items: center;
        font-size: 1.3rem;
    }
}

/* mid screen sizes devices */




/* large screen sizes devices */

@media screen and (620px < width < 741px) {
    

    *{
        user-select: none;
    }
    
    .hide{
        display: none;
    }
    
    
    html,
    body{
        height: 100dvh;
    }

    /* header & navbar section */

    header,
    nav{
        height: 60px;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0;
        justify-content: space-between;
    }

    .center-nav,
    .cart{
        display: none;
    }

    .logo{
        height: 50%;
        width: 30%;
    }

    .logo a{
        font-size: clamp(1.8rem, 2rem, 2.5rem);
        background-color: transparent;
        color: #74bac0;
    }

    .right-nav{
        width: 15%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn{
        height: 100%;
        width: 100%;
        position: relative;
    }
    
    .btn img{
        height: 50%;
        object-fit: contain;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }

    .side-bar{
        height: 110dvh;
        width: 50%;
        position: fixed;
        z-index: 10;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        box-shadow: -2px 14px 12px 8px rgba(128, 128, 128, 0.224);
        transform: translateX(100%);
        transition: .15s linear all;
    }

    .closebtn{
        height: 60px;
        width: 30%;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .closebtn img{
        height: 50%;
    }

    .menu{
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        padding: 3vh;
        gap: 2rem;
        overflow: scroll;
    }

    .menu a{
        text-decoration: none;
        color: #555;
        font-size: clamp(2vw, 2.6vw, 3vw);
        letter-spacing: -0.5px;
        text-transform: capitalize;
        font-weight: 100;
        letter-spacing: 1px;
        font-family: "Poppins", montserrat;
    }
    
    .menu h3{
        text-transform: uppercase;
        font-family: "Poppins", montserrat;
        font-weight: 800;
        color: black;
        font-size: clamp(2vw, 3vw, 3.4vw);
        letter-spacing: .5px;
    }

    #logo{
        width: 100%;
        display: flex;
        margin: 1vh 0;
        justify-content: center;
    }

    #logo h3{
        font-family: 'righteous', gilroy;
        font-size: clamp(2vw, 4vw, 5vw);
        background-color: #74bac0;
        color: white;
        font-weight: 100;
        padding: 0 5px;
        letter-spacing: 2px;
    }



    /* header & navbar section */

    #home{
        width: 100%;
        position: relative;
        transition: .15s all linear;
    }

    .hero{
        height: max-content;
        display: flex;
        margin: 0;
        min-width: 100%;
        padding-top: 50px;
        align-items: flex-start;
        margin-bottom: 5rem;
    }

    .hero > div {
        min-height: 80%;
    }

    .hero  #text{
        min-height: max-content;
        width: 55%;
        justify-content: none;
        align-items: flex-start;
        padding-left: 1rem;
        gap: 2rem;
    }

    #text > *{
        text-align: left;
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }

    #text h3{
        font-size: clamp(3vw, 3.6vw, 6.7vw);
        width: max-content;
    }

    #text h1{
        font-size: clamp(5vw, 6.6vw, 8vw);
    }

    #text h4{
        font-size: clamp(1vw, 2vw, 4.1vw);
        width: 80%;
    }

    #text a{
        font-size: clamp(2vw, 2.3vw, 4.1vw);
        padding: 0px 9px;
    }

    #image{
        width: 40%;
        height: max-content;
    }

    #image h2{
        display: none;
    }

    #image img{
        max-height: 100%;
    }

    .banner-container{
        display: none;
    }

    .section-2{
        min-height: 100dvh;
    }

    .top{
        display: flex;
        min-width: 80%;
        height: 20vw;
        border-radius: 10px;
        padding: 5px 10px;
        margin-bottom: 5vh;
    }

    .top > div{
        width: 25%;
        height: 100%;
        border: none;
        padding: 0 10px;
        border-right: 2px solid whitesmoke;
    }

    .top > div span{
        font-size: clamp(1.2vh, 1.9vh, 2vh);
        text-align: center;
    }

    .top div img{
        width: 50%;
    }

    .hero-2>div > h1 {
        font-size: clamp(2.5vh, 4vh, 5vh);
    }

    .hero-2>div > h3 {
        font-size: clamp(2.1vh, 3vh, 4.0vh);
    }

    .featured{
        overflow-x: auto;
        padding-left: 2vh;
        justify-content: flex-start;
        margin: 5vh 0;
    }

    .featured::-webkit-scrollbar{
        display: none;
    }

    .featured > div{
        height: 15rem;
        width: 15rem;
        margin: 0 2vh;
        flex-shrink: 0;
    }


    .featured div>a{
        height: 100%;
        width: 100%;
    }

    .featured div>a> #adidas{
        height: 10rem;
        object-position: center;
        object-fit: cover;
    }

    .featured div>a> #asics{
        height: 3.5rem;
        object-position: center;
        object-fit: cover;
    }

    .featured div>a> #puma{
        height: 12rem;
        object-position: center;
        object-fit: cover;
    }

    .featured div>a> #campus{
        height: 1.6rem;
        object-position: center;
        object-fit: cover;
    }

    .featured div>a> #nike{
        height: 8rem;
        object-position: center;
        object-fit: cover;
    }

    .featured>div h3{
        font-size: clamp(1.8vh, 1.9vh, 2.3vh);
    }

    .feat{
        min-height: 50vh;
        flex-direction: column;
        width: 100%;
        gap: 3rem;
        align-items: flex-end;
    }

    .feat .model{
        width: 100%;
        height: 20%;
        display: flex;
    }

    .feat .model .text-for-image{
        font-size: clamp(5.1vh, 5.6vh, 7vh);
        background: linear-gradient(to top right,#74bac0  0%, 50% , royalblue 90% );
        font-family: 'righteous',montserrat;
        color: transparent;
        background-clip: text;
        display: inline-block;
    }

    .feat .model img{
        display: none;
    }

    .feat .products{
        height: 50vmin;
        width: 80%;
        border-radius: 30px 0 0 30px;
        overflow-x: scroll;
        align-items: flex-start;
        justify-content: flex-start;
    }
    
    .feat .products::-webkit-scrollbar{
        display: none;
    }

    .feat .products > div{
        width: 50%;
        height: 100%;
        flex-shrink: 0;
    }

    .products div > div{
        height: 60%;
        width: 65%;
        border-radius: 30px;
    } 

    .products>div>h3{
        font-size: clamp(2vh, 2.7vh, 3.7vh);
    }
    
    .products>div>a{
        font-size: clamp(2vh, 2.5vh, 2.7vh);
        border-radius: 30px;
        padding: 7px 12px;
    }

    .products >div >div  img{
        height: 100%;
        object-fit: contain;
        object-position: center;
        width: 100%;
    }

    #hoodie img{
        height: 110%;
        width: 110%;

    }

    .category > div:first-child{
        margin: 8vh 0 2vh 0;
    }

    .category h1{
        font-size: clamp(3vh, 4.7vh, 5.7vh);
    }

    .items{
        gap: 3rem 1.5rem;
        padding: 0 1rem;
        width: 100%;
    }

    .item{
        height: 55vmin;
        width: 40.8vmin;
        max-height: 230px;
        max-width: 160px;
        border-radius: 5px;
    }

    .item a h3{
        font-size: clamp(2vh, 2.15vh, 2.4vh);
    }
    
    .item a h3 span{
        display: none;
    }

    .section-4{
        min-height: 100dvh;
        width: 100%;
        display: flex;
        flex-direction: column;
        
    }

    .left,
    .right{
        width: 100%;
        min-height: 350px;
        border-radius: 0px;
        margin: 0;
    }

    .section-4 div a img{
        object-position: top;
    }

    .section-4>div a span{
        bottom: 4vh;
    }

    .section-4>div a span h5{
        font-size: clamp(2vh, 2.15vh, 2.4vh);
        font-weight: 600;
    }

    footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }

    .online-shop{
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: auto auto;
        place-content: flex-start;
        padding: 0 1rem ;
    }

    .head{
        height: 100%;
        width: 100%;
        grid-column: span 2;
    }

    .policy{
        display: grid;
        grid-template-columns: repeat(3, auto);
        place-content: flex-start ;
        padding: 0 1rem ;
        width: 100%;
        gap: 1rem;
        grid-row: span 2;
        grid-template-rows: auto auto auto;
    }

    .policy>div:first-child{
        grid-column: span 3;
    }

    .policy>div a{
        white-space: nowrap;
    }

    .playstore{
        display: none;
    }

    .original{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }


    .original > div{
        width: 100%;
        /* background-color: red; */
    }

    .copyright{
        font-weight: 100;
        align-items: center;
        font-size: 1.3rem;
    }
}

/* large screen sizes devices */

