@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@font-face {
    font-family: cocogoose;
    src: url(assets/fonts/Cocogoose\ Pro-trial.ttf);
}

@font-face {
    font-family: 'cocogoose light';
    src: url(assets/fonts/Cocogoose\ Pro\ Ultralight-trial.ttf);
}


@font-face {
    font-family: gilroy;
    src: url(assets/fonts/Gilroy-ExtraBold.otf);
}

@font-face {
    font-family: gilroy-light;
    src: url(assets/fonts/Gilroy-Light.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy-light, sans-serif;
    font-size: 10px;
}

:root{
    --head-font : clamp(3.2rem,5rem,5rem)
}

*::selection {
    color: whitesmoke;
    background-color: #639fa5;
}

*:focus{
    outline: none;
}

img::selection{
    background-color: transparent;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: white;
}

img{
    -webkit-user-drag: none;
}

/* nav starts */

header,
nav {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 9;
    box-shadow: 0 1px 11px -8px grey;
}

nav * {
    font-size: clamp(1.5rem, 1.1vmax, 1.2vmax);
}

header nav>div {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    position: fixed;
    background-color: white;
}

.right-nav,
.logo {
    width: 25%;
    justify-content: center;
}

.logo {
    width: 10%;
}

.logo a {
    display: grid;
    padding: 0 4px;
    place-content: center;
    font-family: 'Righteous', sans-serif;
    text-decoration: none;
    color: #fff;
    background-color: #74bac0;
    overflow: hidden;
    text-transform: uppercase;
    font-size: clamp(1.3vw,1.4vw, 1.5vw);
}


.center-nav {
    width: 30%;
}

.center-nav>li {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    text-transform: capitalize;
    height: 100%;
}

.center-nav>li>ul:last-child {
    position: relative;
    text-transform: capitalize;
}


.center-nav>li>ul>a {
    text-decoration: none;
    color: black;
    font-weight: 800;
    transition: .1s;
    height: 100%;
}


.center-nav>li>ul>a:hover {
    color: #639fa5;
}



.center-nav>li>ul {
    position: relative;
    height: 100%;
    line-height: 10vh;
}

.center-nav>li>ul .drop-down {
    position: absolute;
    top: 100%;
    width: 15vw;
    line-height: 2.5;
    padding: 2vh;
    background-color: whitesmoke;
    border-radius: 0 0 10px 10px;
    left: 50%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 8px 6px -9px rgba(128, 128, 128, 0.428) inset;
    align-items: center;
    justify-content: center;
    transform: translateX(-50%);
    list-style: none;
    visibility: hidden;
    opacity: 0;
    transition: .2s;
}


.hover .drop-down>ul> a {
    text-decoration: none;
    font-size: 1.2vw;
    color: grey;
    font-weight: 900;
    transition: .1s linear;
}

.drop-down>ul>a:hover {
    color: #74bac0;
}

.center-nav>li>.show>.drop-down {
    visibility: visible;
    position: absolute;
    top: 100%;
    opacity: 1;
}

.right-nav input{
    outline: none;
    border: none;
    padding: 0 2vh;
    height: 50%;
    border-radius: 7px;
    font-weight: 900;
    font-family: "Poppins";
    width: min(80%,20vw);
    box-shadow: 2px 2px 10px #b5b5b576,
             -2px -2px 10px #ffffff;
    font-weight: 500;
}

.right-nav input::placeholder{
    font-size: clamp(1.3rem, 1.5rem, 1.5rem);
    text-transform: capitalize;
    letter-spacing: -.2px;
}

.right-nav button {
    border-radius: 0 7px 7px 0;
    cursor: pointer;
    width: 6vh;
    padding: 0;
    background-color: rgb(212, 211, 211);
    display: flex;
        justify-content: center;
        align-items: center;
}

.right-nav button img {
    height: 3vh;
    width: 3vh;
}

.cart {
    width: 8%;
    justify-content: space-around;
}

.cart a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
}

.cart a img {
    height: min(2.7rem, 2vw);
    color: rgb(152, 152, 152);
}

.cart #profile {
    position: relative;
    height: 100%;
}

.cart #profile>a {
    height: 100%;
}

.cart #profile li {
    position: absolute;
    top: 10vh;
    width: 11vw;
    list-style-type: none;
    padding: 1vh 0;
    backdrop-filter: blur(12px);
    line-height: 10vh;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    background-color: whitesmoke;
    opacity: 0;
    visibility: hidden;
    box-shadow: 5px 5px 17px #95959576,
             -5px -5px 17px #ffffff;
}

.cart #profile li:hover {
    opacity: 1;
    visibility: visible;
}

.cart #profile .active {
    opacity: 1;
    visibility: visible;
}

.cart #profile li ul {
    line-height: 2;
    display: flex;
    padding: 0 2vh;
    justify-content: left;
    margin-bottom: 5px;
    width: 100%;
    text-transform: capitalize;
}

.cart #profile li ul:first-child a {
    padding: 0 2vh;
    background-color: #74bac0;
    color: white;
    border: 2px solid #74bac0;
    border-radius: 5px;
    width: 100%;
    transition: .1s linear;
}

.cart #profile li ul:hover {
    background-color: #74bac0;
}

.cart #profile li ul:hover>a {
    color: white;
}

.cart #profile li ul:first-child {
    background-color: transparent;
}

.cart #profile li ul:first-child a:hover {
    background-color: rgb(254, 254, 254);
    border: 2px solid #74bac0;
    color: #74bac0;
}

.cart #profile li ul a {
    color: #333;
    width: max-content;
    transition: .05s linear;
    display: flex;
    justify-content: left;
    text-align: left;
    font-size: 1.1vw;
}
/* nav ends */

/* main section */


main,#main{
    width: 100%;
    margin-bottom: 10vh;
}

#main{
    min-height: 88vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

.deals{
    width: 90%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.heading{
    white-space: nowrap;
    width: 100%;
    height: max-content;
    margin: 5vh 0;
    display: flex;    
}

.heading h1{
    text-transform: capitalize;
    font-family: couture,sans-serif ;
    font-size: 2vw;
    font-weight: 500;
    width: 100%;
    color: rgb(135, 135, 135);
    letter-spacing: 1px;
}

.product{
    height: 24vw;
    width: 21%;
    border-radius: 5px;
    background-color: rgb(246, 246, 255);
    margin-bottom: 5vh;
    overflow: hidden;
    transition: .2s ease;
}

.product a{
    height: 100%;
    width: 100%;
    display: inline-flex;
    text-decoration: none;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.product:hover{
    box-shadow: 5px 5px 17px #8d8d8d76,
             -5px -5px 17px #ffffff;
    transform: translateY(-2%);
}
.product a img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.by-category{
    width: 100%;
}

.txt{
    height: max-content;
    width: 100%;
    margin: 3vh 0;
    display: grid;
    place-content: center;
}
.txt h1{
    font-size: var(--head-font);
    text-transform: capitalize;
    color: rgb(154, 154, 154);
    letter-spacing: 2px;
    font-weight: 900;
    font-family: couture;
    margin: 0;
    padding: 0;
}

.categories{
    height: 22vw;
    width: 100%;
    padding: 0 8vh;
    display: flex;
    position: relative;
    align-items: center;
    overflow-x: hidden;
    justify-content: space-between;
}

.cat-prod{
    height: 15vw;
    width: 13vw;
    margin-right: 5vh;
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: space-around;
    mix-blend-mode: multiply;
}

.cat-prod:last-child{
    margin-right: 0vh;
}

.cat-prod a{
    height: 100%;
    display: inline-block;
}

.cat-prod img{
    object-fit: cover;
    height: 100%;
    object-position: center;
}

.categories .btn{
    height: 5vw;
    width: 3vw;
    display: flex;
    align-items: center;    
    justify-content: center;
    background-color: whitesmoke;
    position: absolute;
    box-shadow: 0 0 20px -5px grey;
    border-radius: 10px 0 0 10px;
    right: 0;
    z-index: 99;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    display: none;
}
.categories .prev{
    left: 0;
    top: 50%;
    border-radius: 0 10px 10px 0;
}

.categories .show{
    display: inline-block;
}

.categories .btn img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: left;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.categories::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.categories {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}
  

.cat-prod a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    text-decoration: none;
}
.cat-prod a img{
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: contain;
    transition: .5s;
}

.cat-prod:first-child a img{
    transform: scale(1.05);
}

.cat-prod a img:hover{
    transform: scale(1.02);
}


.cat-prod a span{
    color: #444;
    font-family: 'gilroy light', sans-serif;
    letter-spacing: 1px;
    font-weight: 900;
    text-transform: capitalize;
    font-size: 1.4vw;
}


/* main section */

/* footer section  */


footer {
    height: max-content;
    padding: 2vw 7vw;
    width: 100%;
    background-color: rgb(243, 241, 241);
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    position: relative;
}

footer *{
    font-family: "Poppins", sans-serif;
}

.online-shop, .policy {
    min-height: 80%;
    width: fit-content;
    display: flex;
    align-items: start;
    flex-direction: column;
}

footer>div>div{
    margin-bottom: 1.5vh;
}

footer>div>div a {
    text-decoration: none;
    font-size: clamp(1rem,1.4rem,1.8rem);
    font-weight: 100;
    color: #858585;
    -webkit-font-smoothing: antialiased;
    text-transform: capitalize;
    transition: color .2s linear;
}

footer>div>div a:hover{
    color: #333;
}

footer>div>div:first-child a b,
footer>div>div:first-child h6 b,
footer>div> div:first-child, 
#return h6 b{
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    font-size: clamp(1.2rem, 1.5rem, 1.8rem);
    color: #222;
    font-weight: 900;
}


footer>div> div:first-child{
    margin-bottom: 2vh;
    font-size: clamp(1.3rem, 1.6rem, 1.8rem);
}


.playstore, .original{
    width: 25%;
    min-height: 20vh;
}

#playstore a, #appstore a{
    overflow: hidden;
    border-radius: 8px;
    display: grid;
    place-content: center;
}

#appstore a img{
    width: 8vw;
}
.playstore div{
    display: inline-block;
    font-weight: bold;
}
#playstore a img{
    width: 9vw;
}

.original>div img{
    height: 3rem;
    margin-right: 1vh;
}

#return img{
    margin-right: 1vh;
    height: 3.3rem;
}

.original div{
    display: flex;
    justify-content: center;
    align-items: center;
}

#original h6, #return h6{
    color: #222;
    text-transform: uppercase;
}

#original h6 span, #return h6 span{
    text-transform: lowercase;
    color: #858585;
    font-weight: 100;
    font-size: clamp(1.2rem,1.5rem,1.7rem);
}

.social{
    width: 70%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

.social div h4{
    font-size: clamp(1.2rem,1.3rem,1.6rem);
}

.social div:last-child{
    width: 100%;
    height: 60%;
    display: flex;
}

.social div:last-child a{
    width: fit-content;
    height: 100%;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: .5vh;
}

.social div:last-child a img{
    height: 1.8vw;
    object-fit: contain;
    object-position: center;
}

.copyright{
    width: 100%;
    font-size: clamp(1rem, 1.1rem, 1.5rem);
    color: #555;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgb(176, 176, 176);
    display: flex;
    justify-content: center;
    text-transform: capitalize;
}

/* footer section */